<div class="card" th:fragment="selecao">
	<div class="card-content">
		<h5 class="light">Detalhes</h5>
		<!--<a class="btn-floating top-right btn-large waves-effect tooltipped"
			sec:authorize="hasAuthority('COORDENADOR')"
			th:href="@{/selecao/editar/__${selecao.id}__}"
			data-tooltip="Editar">
			<i class="material-icons">edit</i>
		</a>-->
		
		<div class="row no-margin">
			<div class="col s2">
				<span class="bold grey-text text-darken-2">Ano:</span> <br/>
				<span th:text="${selecao.ano}" class="text-20 light"></span>
			</div>
			
			<div class="col s2">
				<span class="bold grey-text text-darken-2">Início:</span> <br/>
				<span th:text="${#dates.format(selecao.dataInicio, 'dd/MM/yyyy')}" class="text-20 light"></span>
			</div>
			
			<div class="col s2">
				<span class="bold grey-text text-darken-2">Término:</span> <br/>
				<span th:text="${#dates.format(selecao.dataTermino, 'dd/MM/yyyy')}" class="text-20 light"></span>
			</div>

			<div class="col s2">
				<span class="bold grey-text text-darken-2">Vagas:</span> <br/>
				<span th:text="${selecao.quantidadeVagas} ? ${selecao.quantidadeVagas} : 'a definir'" class="text-20 light"></span>
			</div>
			
			<div class="col s4">
				<span class="bold grey-text text-darken-2">Responsável:</span> <br/>
				<span th:text="${selecao.responsavel.pessoa.nome}" class="text-20 light"></span>
			</div>
		
		</div>				
	</div>
	
	<div class="card-action right-align">
		<a th:href="@{/selecao/editar/__${selecao.id}__}" class="waves-effect waves-light btn">Editar</a>
		<a th:href="@{/selecao/excluir/__${selecao.id}__}" class="waves-effect waves-light btn red">Excluir</a>
	</div>
</div>
