aplicacoes/gpa-mae/.metadata
aplicacoes/gpa-mae/.settings
aplicacoes/gpa-mae/.classpath
aplicacoes/gpa-mae/.project
aplicacoes/gpa-mae/.tern-project
aplicacoes/gpa-mae/target
aplicacoes/gpa-mae/.idea/
.metadata
.settings
.classpath
.project
target
*.class
*.jar
*.war
*.ear
*.log
*.tmp
*.tern-project
*.springBeans
*.bak
*~
.DS_Store
