body {
	font-family: sans-serif;
	background-color: #f3f3f3;
}

#checkbox-div {
	padding: 0;
	height: 20px;
	width: 30px;
}

.checkbox {
	margin: 0;
}

#alert-erro {
	text-align: center;
}

#form-label-right-checkbox-tam-padrao {
	text-align: right;
	margin-top: 4%;
}

#div-form-buscar {
	margin-bottom: 1%;
	padding-left: 0;
}

#div-btn-inserir {
	margin-bottom: 1%;
	padding-left: 0;
	padding-right: 0;
}

.right{
	float: right;
}

.left{
	float: left;
}

#div-line-title {
	text-decoration: underline;
}

footer {
	text-align: center;
	clear: both;
	bottom: 0;
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}

footer>img {
	max-width: 100px;
	margin-bottom: 10px;
}

footer>p {
	margin-bottom: 0;
	color: #7C7C7C;
}

#text-ufc {
	margin-top: 20px;
	text-align: center;
}

.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

#logo-gpa {
	height: 50px;
}

#navbar-brand {
	padding: 0;
}

#table-visualiza-info-auxilio {
	text-align: center;
	border-collapse: separate;
	border: solid #009688 1px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

#tr-table-visualiza-info-auxilio {
	background-color: #00796B;
	text-align: center;
}

#td-table-visualiza-info-auxilio {
	color: white;
	text-align: center;
}


h3 {
	padding: 5px 10px;
}

a, a:hover, a:visited, a:active, button, button:hover, button:visited,
	button:active input.btn, input.btn:visited, input.btn:active, input.btn:focus
	{
	outline: medium none !important;
	outline-offset: 0 !important;
	text-decoration: none !important;
}

#text-align-rigth {
	text-align: right;
}

.hidden {
	display: none;
}

div.f-content select {
	float:right !important;
	margin: 0;
}

.title {
	width: 100%;
	text-align: left;
}

div.text-align-left {
	text-align: left;
}

.p-container-set {
	width: 100%;
	border-radius: 5px;
}

.p-container {
	width: 100%;
	margin: 0;
	display: block;
	position: relative;
}

div.first div.p-header {
	border-radius: 10px 0 0 0 !important;
}

div.last div.p-header {
	border-radius: 0 0 0 10px !important;
}

div.first div.p-body {
	border-radius: 0 10px 0 0 !important;
}

div.last div.p-body {
	border-radius: 0 0 10px 0 !important;
}

div.unique div.p-body {
	border-radius: 0 10px 10px 0;
}

div.unique div.p-header {
	border-radius: 10px 0 0 10px;
}

div.p-header {
	border-bottom: 1px solid white;
	position: absolute;
	background-color: #00796B;
	float: left;
	width: 15%;
	top: 0;
	bottom: 0;
	padding: 3px;
	border-radius: 0;
}

.p-title {
	font-weight: bold;
	color: white;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

div.p-body {
	text-align: left;
	padding: 3px;
	margin: 0;
	margin-left: 15%;
	background-color: white;
	border: 1px solid #009688;
	border-radius: 0 0 0 text-align-left0;
	width: 85%;
}

.f-container {
	display: inline-table;
	background-color: white;
	margin: 1%;
	text-align: left;
}

.f-title {
	margin-left: 10px;
	font-weight: bold !important;
}

div.f-content {
	margin-left: 10px;
}

.content .body {
	margin: 0 !important;
	padding: 0 !important;
	width: 100% !important;
}

.content {
	clear: both;
	content: "";
	display: table;
}

textarea {
	resize: none;
}

.half {
	width: 47%;
}

.s1 {
	width: 7%;
}

.s2 {
	width: 17%;
}

.s2-half{
	width: 20%;
}

.s3 {
	width: 27%;
}

.s4 {
	width: 37%;
}

.s5 {
	width: 47%;
}

.s6 {
	width: 57%;
}

.s7 {
	width: 67%;
}

.s8 {
	width: 77%;
}

.s9 {
	width: 87%;
}

.s10 {
	width: 97%;
}

.s4-custom{
	width: 45%;
}

div.center-h{
	text-align: center;
}

.margin-top-s1{
	margin-top: 7px;	
}

.margin-top-s2{
	margin-top: 17px;	
}

.margin-top-s3{
	margin-top: 27px;	
}

.text-danger {
	float: right;
}

.content-left {
	text-align: left;
}

.direita {
	float: right;
}

.clicavel {
	cursor: pointer;
}

.divisor {
	margin: 0;
	padding: 5px;
	background-color: #237c73;
	border-radius: 5px 5px 0 0;
	box-shadow: 1px 0 1px #babdb6;
	text-align: left;
	width: 100%;
}

.titulo-dl {
	color: white;
	font-weight: bold;
}

.mora-com-lista {
	list-style: none;
	margin-left: -30px;
}

.mora-com-lista li {
	display: inline;
}

.mora-com-lista li:after {
	content: ",";
}

.mora-com-lista li:last-child:after {
	content: "";
}

.info-container {
	display: inline-block;
	padding: 5px;
	width: 15%;
	height: 150px;
	background-color: #2c3e50;
	color: white;
	border-radius: 5px;
	transition: all 0.2s;
}

.info-container:hover {
	box-shadow: inset 1px 1px 10px #000000;
	cursor: pointer;
	transition: all 0.2s;
}

.info-container .info-content {
	display: none;
}

.info-container .info-title-container {
	width: 100%;
	height: 100%;
}

.info-container .info-title-container .info-title {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.panel-title {
	text-align: left;
	font-weight: bold;
}

.opcoes-detalhes {
	position: relative;
	top: -50%;
	transform: translateY(50%);
}

.def-sit{
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	border-radius: 50%;
	color:white;
	border: 1px solid #777777;
	font-weight: bold;
	position: relative;
	
}

#tabela-detalhes-selecao-servidores td #tabela-detalhes-selecao-servidores th{
	margin-left: 50%;
	transform: translateX(-50%);
	text-align: center;
}


.nao-avaliado{
	background-color: #9e9e9e;
}

.deferido{
	background-color: #4caf50;
}

.indeferido{
	background-color: #f44336;
}

#text-align-left, .text-align-left {
	text-align: left;
}

#div-botoes-classificados{
	margin-top: 80px;
	text-align: center;
}

#botao-adicionar-classificados{
	margin-bottom: 5px;
	margin-top: 5px;
}

#botao-remover-classificados{
	margin-bottom: 5px;
}

.th-verde{
	background-color: #43bb2f;
	color: white;
}

.th-laranja{
	background-color: #f57900;
	color: white;
}

#tabela-classificaveis, #tabela-classificados{
	min-width: 100%;
}

#pesquisarClassificados{
	margin-bottom: 8px;
}

#pesquisarClassificaveis{
	margin-bottom: 8px;
}

#aluno-img {
	margin-top: 10px;
	width: 12%;
	min-width: 100px;
	float: right;
	border: 1px #CCC solid;
}

.photo-sign {
	border-radius: 3px;
	background: #e0e0e0; height : 50px;
	position: relative;
	width: 10px;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	height: 50px;
}

.photo-sign:after {
	border-radius: 3px;
	background: #e0e0e0;
	content: "";
	height: 10px;
	left: -20px;
	position: absolute;
	top: 20px;
	width: 50px;
}

div.input-photo {
	margin: 10px;
	position: relative;
	width: 160px;
	height: 90px;
	background-color: #f5f5f5;
	border: 2px solid #e0e0e0;
	border-radius: 5px;#E9E9E9
	margin-top: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	translate: all 0.4s;
}

.photo-img {
	position: relative;
	display: block; width : 160px;
	height: 90px;
	border: 1px solid #8a8a8a;
	border-radius: 5px;
	translate: all 0.4s;
	width: 160px;
	transition: all 0.1s;
}

.photo-img:hover {
	translate: all 0.4s;
	cursor: pointer;
	box-shadow: 1px 1px 5px #222222;
	transition: all 0.1s;
}

.photos-list {
	margin-left: -30px;
	list-style: none;
}

.photos-list li {
	display: inline-block;
}

.img-fullscreen-background{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(220, 220, 220, 0.8);
}

.img-fullscreen-content{
	width: 80%;
	height: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 5px;
	box-shadow: 1px 1px 1px #444;
	border: 1px solid black;
	background-color: blue;
}

.img-fullscreen-content img{
	width: 100%;
	height: 100%;
}

.img-fullscreen-prev-button{
	position: absolute;
	left: -50px;
	top: 50%;
	transform: translateY(-50%);
}

.img-fullscreen-next-button{
	position: absolute;
	right: -50px;
	top: 50%;
	transform: translateY(-50%);
}

.img-fullscreen-prev-button, .img-fullscreen-next-button{
	border-radius: 50%;
	background-color: rgba(43, 61, 79, 0.6);
	border: 1px solid rgba(43, 61, 79, 0.7);
	transition: all 0.2s;
}

.photo-sign {
	border-radius: 3px;
	background: #e0e0e0; height : 50px;
	position: relative;
	width: 10px;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	height: 50px;
}

.photo-sign:after {
	border-radius: 3px;
	background: #e0e0e0;
	content: "";
	height: 10px;
	left: -20px;
	position: absolute;
	top: 20px;
	width: 50px;
}

div.input-photo {
	margin: 10px;
	position: relative;
	width: 160px;
	height: 90px;
	background-color: #f5f5f5;
	border: 2px solid #e0e0e0;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	translate: all 0.4s;
}

.photo-img {
	position: relative;
	display: block; width : 160px;
	height: 90px;
	border: 1px solid #8a8a8a;
	border-radius: 5px;
	translate: all 0.4s;
	width: 160px;
	transition: all 0.1s;
}

.photo-img:hover {
	translate: all 0.4s;
	cursor: pointer;
	box-shadow: 1px 1px 5px #222222;
	transition: all 0.1s;
}

.photos-list {
	margin: 0;
	list-style: none;
}

.photos-list li {
	margin-left: -40px;
	margin-right: 40px;
	display: inline-block;
}

.remove-photo {
	display: block;
	position: absolute;
	top: -8px;
	right: -8px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #f44336;
	transform: rotateZ(45deg);
	transition: all 0.2s;
}

.remove-photo:before {
	position: absolute;
	content: "+";
	font-height: 25px;
	line-height: 25px;
	color: white;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	font-weight: bold;
}

.remove-photo:hover{
	cursor: pointer;
	transition: all 0.2s;
	transform: scale(1.2) rotateZ(-45deg);
}

.img-fullscreen-background{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(220, 220, 220, 0.8);
}

.img-fullscreen-content{
	width: 80%;
	height: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 5px;
	box-shadow: 1px 1px 1px #444;
	border: 1px solid black;
	background-color: blue;
}

.img-fullscreen-content img{
	width: 100%;
	height: 100%;
}

.img-fullscreen-prev-button{
	position: absolute;
	left: -50px;
	top: 50%;
	transform: translateY(-50%);
}

.img-fullscreen-next-button{
	position: absolute;
	right: -50px;
	top: 50%;
	transform: translateY(-50%);
		
}

.img-fullscreen-prev-button, .img-fullscreen-next-button{
	border-radius: 50%;
	background-color: rgba(43, 61, 79, 0.6);
	border: 1px solid rgba(43, 61, 79, 0.7);
	transition: all 0.2s;
}

.panel-card{
	display:block;
	margin-bottom: 5px;
	margin-top: 5px;
	height: 100px;
	padding: 0;
}

.panel-card .panel-card-content{
	position: relative;
	width:75%;
	left: 50%;
	transform: translateX(-50%);
}

.card{
	cursor:pointer;
	width: 19%;
	height: 80px !important; 
	display:inline-block;
	text-align:center;
	font-weight:bold;
	font-size: 10px;
	
}

.card:hover{
	border-radius: 5px;
	background-color: #d1d1d1;
	transition: all 0.2s;
}

.card-hover{
	border-radius: 5px;
	background-color: #d1d1d1;
	transition: all 0.2s;
}

.card .card-content{
	position: relative;
	margin: 0 auto;
	width: 100%;
	display: block;
	color: #555753 !important;
}

.card-content .card-icon{
	color: #555753;
	height: 100%;
	margin: 0 auto;
	padding:5px;
	width: 100%;
	display: block;
	font-size: 28px;
}

.card-content .card-description{
	height: 100%;
	display: inline-block;
	margin-top: 7px;
}

.bg-brown{
	background-color: #795548 !important;
}

.bg-blue{
	background-color: #00c0f0 !important;
}

.bg-green{
	background-color: #00a65a !important;
}

.bg-yellow{
	background-color: #f39c12 !important;
}

.bg-red{
	background-color: #dd4b39 !important;
}

.dataTables_filter {
	display: none;
}

.navbar{
	border-radius: 0 !important;
	background-color: #00796B !important;
	border: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
}

.navbar li a, .navbar li p{
	color: white !important;
}

a, .dropdown-menu > li > a{
	color: #009688 !important;
}

.panel{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
  	transition: all 0.2s ease-in-out !important;
  	border: 0 !important;
}

.panel .panel-title{
	font-weight: normal !important;
}

.panel .panel-heading{
	color:#009688 !important;
	background-color: white !important;
	border-bottom: 1px solid #eeeeec;
}

.btn{
  	border: 0 !important;
}

.btn:hover{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}

.btn.btn-primary{
	color: white !important;
	background-color: #00796B !important;
	border-bottom-color: #238b7f!important;
}

.btn.btn-warning i{
	color: white !important;
}

.btn-info, .btn-info:focus, .btn-info > a{
	color: #ffffff !important;
	background-color: #f57900 !important;
	border-color: #f57900 !important;
}

.btn.btn-info:hover{
	background-color: #f57900 !important;
	border-color: #34a8d5;
}

.btn.btn-default{
	background-color: #e8e8e8;
}

.btn.btn-danger{
	color:white !important;
}

.btn.btn-small{
	font-size: 14px;
	width: 30px !important;
	height: 27px !important;
}

.btn.btn-md{
	width: 100px !important;
}

.alert{
	border: 0 !important;
	border-radius: 0;
}

.alert.alert-info{
	background-color: #00BCD4 !important;
}

.alert.alert-rounded{
	border-radius: 3px !important;
}

.alert:hover{
	transform: translate3d(0,-1px,0);
	transition: all 0.2s;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}

input:focus, select:focus, textarea:focus{
	border-color: #009688 !important;
	box-shadow: 0 0 3px rgba(13, 81, 75, 0.3) !important; 
}

.table-custom{
	border-collapse: separate !important;
	border-spacing: 0 !important;
	border: 1px solid transparent;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-radius: 3px !important;
}

.table-custom td{
	text-align: center;
}

.table-custom .th-custom {
	background-color: #00796B;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	color: white;
}

.th-center{
	text-align: center;
}

.row-centered{
	margin: 0 auto !important;
}

.table-document{
	min-width: 30%;
}
.table-document .table-doc-icon{
	width: 10px;
}

.dropdown-menu > li > a:hover{
	background-color: rgba(0,0,0,.1) !important;
}

.no-decoration{
	font-weight: normal;
	text-decoration: none;	
}

.dataTables_filter {
	display: none;
}

.container-lg{
	width: 80%;
}

.container-md{
	width: 70%;
}

.container-st{
	width: 60%;
}

.full-width{
	width: 100% !important;
}

.legenda{
	float:right;
	display: inline-block;
	background-color: #ededed;
	padding: 5px;
	border-radius: 0 0 3px 3px;
}

.documentos-aluno li:hover{
	cursor: pointer;
	box-shadow: 1px 1px 1px #cdcdcd;
	transition: all 0.2s;
	transform: scale(1.2);
}

.documentos-aluno li a{
	position: absolute;
	color: #ffffff !important;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	width: 100%;
	word-wrap: break-word;
	text-align: center;
}

.documentos-lista{
	list-style: none;	
	margin-left: -40px;
}

.documentos-lista li{
	margin-bottom: 5px;	
}

.panel-visitas{
	width: 48%;
	padding: 0;
}

.legenda div{
	margin: 2px;
	display: inline-block;
}

.form-btn {
	margin-top: 40px;
	text-align: right;
}

.form-btn input {
	margin-right: 15px;
}

.menu-relatorio-visitas{
	margin-bottom: 20px;
}

.panel-visitas .panel-heading{
	color: white !important;
	background-color: #009688 !important;
	border-bottom: 1px solid #eeeeec;
}

.panel-group .panel-cidade{
	color: white !important;
	background-color: #009688 !important;
	border-bottom: 1px solid #eeeeec;
}

.panel-cidade a{
	color: white !important;
}

.foto-relatorio-visita{
	height: 60px;
	width: 60px;
	margin-right: 20px;
}
.wizard > .actions > ul > li.disabled {
  display: none;
}

.div-esquerda{
	float:left;
}

.lista-documentos-selecao{
	margin-top: -15px;
}

.lista-documentos-selecao li{
	list-style: none;
	display: block;
	margin-left: -40px;
}


