body {
	font-family: sans-serif;
	background-color: #E9E9E9;
}

#checkbox-div {
	padding: 0px;
	height: 20px;
	width: 30px;
}

.checkbox {
	margin: 0px;
}

#alert-erro {
	text-align: center;
}

#form-label-right-checkbox-tam-padrao {
	text-align: right;
	margin-top: 4%;
}

#div-form-buscar {
	margin-bottom: 1%;
	padding-left: 0%
}

#div-btn-inserir {
	margin-bottom: 1%;
	padding-left: 0%;
	padding-right: 0%;
}

.right{
	float:right;
}

#div-line-title {
	text-decoration: underline;
}

footer {
	text-align: center;
	clear: both;
	bottom: 0;
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}

footer>img {
	max-width: 100px;
	margin-bottom: 10px;
}

footer>p {
	margin-bottom: 0;
	color: #7C7C7C;
}

#text-ufc {
	margin-top: 20px;
	text-align: center;
}

.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

#logo-gpa {
	max-width: 200px;
}

#navbar-brand {
	padding: 0%;
}

#table-visualiza-info-auxilio {
	text-align: center;
	border-collapse: separate;
	border: solid #2c3e50 1px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

#tr-table-visualiza-info-auxilio {
	background-color: #2c3e50;
	text-align: center;
}

#td-table-visualiza-info-auxilio {
	color: white;
	text-align: center;
}

.navbar-default .navbar-text {
	color: #FFF;
}

h3 {
	padding: 5px 10px;
}

a, a:hover, a:visited, a:active, button, button:hover, button:visited,
	button:active input.btn, input.btn:visited, input.btn:active, input.btn:focus
	{
	outline: medium none !important;
	outline-offset: 0px !important;
	text-decoration: none !important;
}

#text-align-rigth {
	text-align: right;
}

.hidden {
	display: none;
}

div.f-content select{
	float:right !important;
	margin:0;
}

label.title {
	width: 100%;
	text-align: left;
}

div.text-align-left {
	width: 100%;
	text-align: left;
}

div.p-container-set{
	width:100%;
	border-radius: 5px;
}

div.p-container {
	width: 100%;
	margin: 0px;
	display: block;
	position: relative;
}

div.first div.p-header{
	border-radius: 10px 0px 0px 0px !important;
}

div.last div.p-header{
	border-radius: 0px 0px 0px 10px !important;
}

div.first div.p-body{
	border-radius: 0px 10px 0px 0px !important;
}

div.last div.p-body{
	border-radius: 0px 0px 10px 0px !important;
}

div.unique div.p-body{
	border-radius: 0px 10px 10px 0px;
}

div.unique div.p-header{
	border-radius: 10px 0px 0px 10px;
}

div.p-header {
	border-bottom: 1px solid #6f7f94;
	position: absolute;
	background-color: #2c3e50;
	float: left;
	width: 15%;
	top: 0px;
	bottom: 0px;
	padding: 3px;
	border-radius:0px;
}

div.p-title {
	font-weight: bold;
	color: white;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

div.p-body {
	text-align:left;
	padding: 3px;
	margin:0px;
	margin-left: 15%;
	background-color: white;
	border: 1px solid #2c3e50;
	border-radius: 0px 0px 0px 0px;
	width: 85%;
}

div.f-container {
	display: inline-block;
	background-color: white;
	margin:1%;
	text-align: left;
}

label.f-title{
	margin-left:10px;
}

div.f-content{
	margin-left:10px;
}

.content .body{
	margin: 0 !important;
	padding: 0px !important;
	width: 100% !important;
}

.content{
	clear: both;
    content: "";
    display: table;
}

textarea{
	resize: none;
}

div.half{
	width: 47%;
}

div.s1{
	width:7%;	
}

div.s2{
	width:17%;	
}

div.s3{
	width:27%;	
}

div.s4{
	width:37%;	
}

div.s5{
	width:47%;	
}

div.s6{
	width:57%;	
}

div.s7{
	width:67%;	
}

div.s8{
	width:77%;	
}

div.s9{
	width:87%;	
}

div.s10{
	width:97%;	
}

.text-danger{
	float:right;
}

.direita{
    float: right;
}

.clicavel {
    cursor: pointer;
}

.divisor{
	margin:0;
	padding: 5px;
	background-color: #485966;
	border-radius: 5px 5px 0px 0px;
	box-shadow: 1px 1px 1px #444444;
	text-align: left;
	width: 100%;
}

.titulo-dl{
	color: white;
	font-weight:bold;
}

.mora-com-lista{
	list-style: none;
	margin-left: -30px;
}

.mora-com-lista li{
	display: inline;
}

.mora-com-lista li:after{
    content: ",";
}

.mora-com-lista li:last-child:after{
	content: "";
}

.info-container{
	display: inline-block;
	padding: 5px;
	width:15%;
	height: 150px;
	background-color: #2c3e50;
	color: white;
	border-radius: 5px;
	transition: all 0.2s;
}

.info-container:hover{
	box-shadow: inset 1px 1px 10px #000000;
	cursor:pointer;
	transition: all 0.2s;
}

.info-container .info-content{
	display: none;
}

.info-container .info-title-container{
	width:100%;
	height: 100%;
}

.info-container .info-title-container .info-title{
	position:relative;
	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
}

.panel-title{
	text-align:left;
}

.opcoes-detalhes{
	float:right;
	margin-top: -25px;
}




















   