nav .brand-logo {
    padding-left: 20px;
    padding-right: 20px;
}

.container {
    width: 90%;
    margin-top: 30px;
}

/* Badges */
.chip div, .chip i {
    display: inline;
}

/* Helpers */
.text-10 {
    font-size: 10px;
}

.text-15 {
    font-size: 15px;
}

.text-20 {
    font-size: 20px;
}

.text-30 {
    font-size: 30px;
}

.text-40 {
    font-size: 40px;
}

.text-50 {
    font-size: 50px;
}

.text-right {
    text-align: right;
}

