body {
	font-family: sans-serif;
	background-color: #E9E9E9;
}

#checkbox-div {
	padding: 0px;
	height: 20px;
	width: 30px;
}

.checkbox {
	margin: 0px;
}

#form-label-right-checkbox-tam-padrao {
	text-align: right;
	margin-top: 4%;
}

#div-form-buscar {
	margin-bottom: 1%;
	padding-left: 0%
}

#div-btn-inserir {
	margin-bottom: 1%;
	padding-left: 0%;
	padding-right: 0%;
}

footer {
	text-align: center;
	clear: both;
	bottom: 0;
	position: absolute;
	width: 100%;
	margin-bottom: 20px;
}

footer>img {
	max-width: 100px;
	margin-bottom: 10px;
}

footer>p {
	margin-bottom: 0;
	color: #7C7C7C;
}

#text-ufc {
	margin-top: 20px;
	text-align: center;
}

.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

#logo-gpa {
	max-width: 200px;
}

#navbar-brand {
	padding: 0%;
}

#table-visualiza-info-auxilio {
	text-align: center;
	border-collapse: separate;
	border: solid #2c3e50 1px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

#tr-table-visualiza-info-auxilio {
	background-color: #2c3e50;
	text-align: center;
}

#td-table-visualiza-info-auxilio {
	color: white;
	text-align:center;
}

.navbar-default .navbar-text {
	color: #FFF;
}

h3 {
	padding: 5px 10px;
}

a, a:hover, a:visited, a:active, button, button:hover, button:visited,
	button:active input.btn, input.btn:visited, input.btn:active, input.btn:focus {
	outline: medium none !important;
	outline-offset: 0px !important;
	text-decoration: none !important;
}