<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title>Clínias</title>

    <link rel="stylesheet" type="text/css" th:href="@{/material/materialize/fonts/icons/material-icons.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/material/materialize/fonts/icons/material-icons-google.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/material/materialize/css/materialize.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/material/plugins/datatables/dataTables.materialize.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/material/css/mf.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/material/css/mf-helpers.css}"/>
			
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    
</head>

<body class="root grey lighten-3">
		
	<div th:replace="base/side-nav :: side-nav"></div>
	<div th:replace="base/header :: header"></div>
	
	<main class="sidenav-opened"> 
        <div class="main-container">
        	<section class="" layout:fragment="conteudo"></section>
        </div>
    </main>   
    
	<!-- MENSAGENS DE ALERTA -->
	<div th:each="alert : ${alertas}" 
		class="alert-message" 
		th:attr="data-type=${alert.type},data-delay=${alert.delay}" 
		th:text="${alert.message}"></div>
	<div th:if="${alerta}" 
		class="alert-message" 
		th:attr="data-type=${alerta.type},data-delay=${alerta.delay}" 
		th:text="${alerta.message}"></div>
	
    <div class="mf-foreground white" ></div>
    
    <!-- Plugins externos e JQuery -->
    <script type="text/javascript" th:src="@{/material/plugins/jquery/jquery-2.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/material/plugins/jquery/jquery.mask.min.js}"></script>
    <script type="text/javascript" th:src="@{/material/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/material/plugins/datatables/dataTables.materialize.js}"></script>
    <script type="text/javascript" th:src="@{/material/plugins/chart/chart.js}"></script>
    <script type="text/javascript" th:src="@{/material/plugins/cookie/cookie.js}"></script>
    <script type="text/javascript" th:src="@{/material/plugins/moment/moment.js}"></script>
    
    <!-- Framework base -->
	<script type="text/javascript" th:src="@{/material/materialize/js/bin/materialize.js}"></script>
	<script type="text/javascript" th:src="@{/material/js/mf.js}"></script>
	<script type="text/javascript" th:src="@{/material/js/event-confirm.js}"></script>
	<script type="text/javascript" th:src="@{/material/js/form-dialog.js}"></script>
	
	<section layout:fragment="js"></section>
	
	<script type="text/javascript">
	
		$(document).ready(function() {
			Materialize.updateTextFields();
			$('select').material_select();
			
			$('.datepicker').pickadate({
			   selectMonths: true,
			   selectYears: 100, 
			   format: "dd/mm/yyyy"
			});
		});
	
	</script>
    
</body>
</html>