<div class="col l12 s12" th:fragment="menu-inscricao">
	 <nav>
      	<div class="nav-wrapper">
	<ul id="nav-mobile" class="left">
		<li>
			<a th:if="${detalhes_inscricao}" class="deep-purple" th:href="@{/inscricao/detalhes/__${inscricao.id}__}">
				Detalhes Inscrição
			</a>
			<a th:unless="${detalhes_inscricao}" th:href="@{/inscricao/detalhes/__${inscricao.id}__}">
				Detalhes Inscrição
			</a>
		</li>
		<li>
			<a th:if="${analise_documentos}" class="deep-purple" th:href="@{/inscricao/analise-documentos/__${inscricao.id}__}">
				Análise de Documentos
			</a>
			<a th:unless="${analise_documentos}" th:href="@{/inscricao/analise-documentos/__${inscricao.id}__}">
				Análise de Documentos
			</a>
		</li>
		<li>
			<a th:if="${entrevista}" class="deep-purple" th:href="@{/inscricao/entrevista/__${inscricao.id}__}">
				Entrevista
			</a>
			<a th:unless="${entrevista}" th:href="@{/inscricao/entrevista/__${inscricao.id}__}">
				Entrevista
			</a>
		</li>
		<li th:if="${inscricao.selecao.tipo == inscricao.selecao.tipo.AUXILIO_MORADIA}">
			<a th:if="${visita_domiciliar}" class="deep-purple" th:href="@{/visita/cadastrar/__${inscricao.id}__}">
				Visita Domiciliar
			</a>
			<a th:unless="${visita_domiciliar}" th:href="@{/visita/cadastrar/__${inscricao.id}__}">
				Visita Domiciliar
			</a>
		</li>
	</ul>
	<ul id="nav-mobile" class="right">
		<li>
			<a href="#" th:if="${inscricao.resultado}">Resultado Final
				<span th:if="${inscricao.resultado.nome} == 'deferido'" class="chip green-text" th:text="'Deferido'"></span>
        		<span th:if="${inscricao.resultado.nome} == 'indeferido'" class="chip red-text" th:text="'Indeferido'"></span>
			</a>
		</li>
	</ul>
	</div>
	</nav>
</div>