#logo-gpa {
	padding: 0 0 2px 0;
}

#logo-gpa img {
	max-height: 58px;
}

.alert {
	text-align: center;
}

.divider {
	border-bottom: 1px solid #c8c8c8;
	margin-bottom: 20px;
}

h2 {
	display: inline-block;
}

.btn-fab.right {
	float: right;
}

.checkbox label {
	margin-right: 20px;
}

.checkbox-material .check {
	margin-right: 5px;
}

.right {
	float: right;
}

.left {
	float: left;
}

.btn-form input {
	margin-left: 20px;
}

.icon-primary {
	color: #009688;
}

.icon-danger {
	color: #d9534f;
}