<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="base/base">
<head>
<meta charset="UTF-8"/>
<title>Auxílio - Agendamento de Entrevista</title>
</head>
<body >

<section layout:fragment="conteudo">
	<div class="card " th:fragment="agendamento">
				<div class="card-content  details">
					<h5 th:text="${acao == 'editar' ? 'Edição de Horários para Entrevista' : 'Cadastro de Horários para Entrevista'}" class="title light"></h5>
					<div class="row">
						<div class="col s12">
						<form  data-model="agendamento" th:action="@{/selecao/agendamentoEntrevista/adicionar/__${selecao.id}__}" th:object="${agendamento}" method="post">
							<input type="hidden" th:field="*{id}"/>
							<div class="col s12">
									<div class="col s3 input-field">
										<input th:field="*{data}" type="text" class="datepicker" id="inicio" required="required"/>
										<label for="inicio">Dia para entrevista</label>
									</div>
									<div class="col s3 input-field">
										<select id="turno" th:field="*{turno}" class="validate" required="required">
											<option th:each="turno : ${turno}" th:value="${turno}" th:text="${turno.nome}"></option>
										</select>
									    <label>Turno</label>
									</div>
									 <div class="input-field col s3">
									    <select id="horario" th:field="*{horario}" class="validate" required="required">
		                               		<option th:each="horario : ${horario}"
		                               				th:value="${horario}" 
		                               				th:text="${horario.nome}" >
		                               		</option>
		                                </select> 
									    <label>Horário</label>
									  </div>
									  <div class="row input-field col s3">
									 	    <button th:if="${acao != 'editar'}" type="submit" class="waves-effect waves-light btn">Adicionar</button>
									 	    <button th:if="${acao == 'editar'}" type="submit" class="waves-effect waves-light btn">Editar</button>
									 </div>
								</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	<div th:if="${acao != 'editar'}" class="card">
		<div class="card-content">
			<h5>Horários</h5>	
			<ul  class="collapsible" data-collapsible="accordion">
		    <li>
		      <div class="collapsible-header"><i class="material-icons">schedule</i>Manhã</div>
		      <div class="collapsible-body">
		      		<div class="row">
							<div th:if="${agendamento.turno.nome eq T(br.ufc.npi.auxilio.enums.Turno).MANHA.nome}" class="card col s8" th:each="agendamento : ${agendamentos}">
								<div class=" card-content">
									<form
										th:action="@{/selecao/alocacaoAgendamentoEntrevista/adicionar}"
										method="post" th:object="${agendamento}">
										
										<input type="hidden" name="agendamento"
											th:value="${agendamento.id}" />
										<div class=" col s12">
												<h5 class=" col s10"
													th:text="${#temporals.format(agendamento.data, 'dd/MM/yyyy')} + '  -  ' +${agendamento.turno.nome} + ' -  ' + ${agendamento.horario.nome}"
												></h5>
											<div class="col s2">
												<a class="btn-icon waves-effect tooltipped"
											     		th:href="@{/selecao/agendamentoEntrevista/editar/__${selecao.id}__/__${agendamento.id}__}"
											     		th:attr="data-tooltip='Editar'">
											     		<i class="material-icons">edit</i>
													</a>
													<a  class="btn-icon waves-effect tooltipped"
											     		th:href="@{/selecao/agendamentoEntrevista/excluir/__${selecao.id}__/__${agendamento.id}__}"
											     		th:attr="data-tooltip='Deletar'">
											     		<i class="material-icons">delete</i>
													</a>
												</div>
											
											<div class="input-field col s9">
												<select name="inscricao">
													<option th:each="inscricao : ${inscricoes}"
														th:value="${inscricao.id}"
														th:text="${inscricao.aluno.pessoa.nome}"></option>
												</select> <label>Aluno</label>
											</div>
											<div class="input-field col s3">
												<button type="submit" class="waves-effect waves-light btn">Adicionar</button>
											</div>
										</div>
									</form>
									<div class="row">
										<div class="chip deep-purple lighten-1"
											th:each="inscricao : ${agendamento.inscricoes}">
											<div class="text-17 light white-text"
												th:text="${inscricao.aluno.pessoa.nome}"></div>
											<a title="Excluir"
												th:href="@{/selecao/agendamentoEntrevista/__${agendamento.id}__/excluir/__${inscricao.id}__}"
												sec:authorize="hasAuthority('COORDENADOR')"> <i
												class="close white-text material-icons">close</i>
											</a>
										</div>
									</div>
								</div>
							</div> 
						</div>
		      		</div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">schedule</i>Tarde</div>
		      <div class="collapsible-body">
		      		<div class="row">
							<div th:if="${agendamento.turno.nome eq T(br.ufc.npi.auxilio.enums.Turno).TARDE.nome}" class="card col s8" th:each="agendamento : ${agendamentos}">
								<div class=" card-content">
									<form
										th:action="@{/selecao/alocacaoAgendamentoEntrevista/adicionar}"
										method="post" th:object="${agendamento}">
										
										<input type="hidden" name="agendamento"
											th:value="${agendamento.id}" />
										<div class=" col s12">
												<h5 class=" col s10"
													th:text="${#temporals.format(agendamento.data, 'dd/MM/yyyy')} + '  -  ' +${agendamento.turno.nome} + ' -  ' + ${agendamento.horario.nome}"
												></h5>
											<div class="col s2">
												<a class="btn-icon waves-effect tooltipped"
											     		th:href="@{/selecao/agendamentoEntrevista/editar/__${selecao.id}__/__${agendamento.id}__}"
											     		th:attr="data-tooltip='Editar'">
											     		<i class="material-icons">edit</i>
													</a>
													<a  class="btn-icon waves-effect tooltipped"
											     		th:href="@{/selecao/agendamentoEntrevista/excluir/__${selecao.id}__/__${agendamento.id}__}"
											     		th:attr="data-tooltip='Deletar'">
											     		<i class="material-icons">delete</i>
													</a>
												</div>
											
											<div class="input-field col s9">
												<select name="inscricao">
													<option th:each="inscricao : ${inscricoes}"
														th:value="${inscricao.id}"
														th:text="${inscricao.aluno.pessoa.nome}"></option>
												</select> <label>Aluno</label>
											</div>
											<div class="input-field col s3">
												<button type="submit" class="waves-effect waves-light btn">Adicionar</button>
											</div>
										</div>
									</form>
									<div class="row">
										<div class="chip deep-purple lighten-1"
											th:each="inscricao : ${agendamento.inscricoes}">
											<div class="text-17 light white-text"
												th:text="${inscricao.aluno.pessoa.nome}"></div>
											<a title="Excluir"
												th:href="@{/selecao/agendamentoEntrevista/__${agendamento.id}__/excluir/__${inscricao.id}__}"
												sec:authorize="hasAuthority('COORDENADOR')"> <i
												class="close white-text material-icons">close</i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
		      </div>
		    </li>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">schedule</i>Noite</div>
		      <div class="collapsible-body ">
		      		<div class="row">
							<div th:if="${agendamento.turno.nome eq T(br.ufc.npi.auxilio.enums.Turno).NOITE.nome}" class="card col s8" th:each="agendamento : ${agendamentos}">
								<div class="card-content ">
									<form
										th:action="@{/selecao/alocacaoAgendamentoEntrevista/adicionar}"
										method="post" th:object="${agendamento}">
										
										<input type="hidden" name="agendamento"
											th:value="${agendamento.id}" />
										<div class=" col s12">
												<h5 class=" col s10"
													th:text="${#temporals.format(agendamento.data, 'dd/MM/yyyy')} + '  -  ' +${agendamento.turno.nome} + ' -  ' + ${agendamento.horario.nome}"
												></h5>
											<div class="col s2">
												<a class="btn-icon waves-effect tooltipped"
											     		th:href="@{/selecao/agendamentoEntrevista/editar/__${selecao.id}__/__${agendamento.id}__}"
											     		th:attr="data-tooltip='Editar'">
											     		<i class="material-icons">edit</i>
													</a>
													<a  class="btn-icon waves-effect tooltipped"
											     		th:href="@{/selecao/agendamentoEntrevista/excluir/__${selecao.id}__/__${agendamento.id}__}"
											     		th:attr="data-tooltip='Deletar'">
											     		<i class="material-icons">delete</i>
													</a>
												</div>
											
											<div class="input-field col s9">
												<select name="inscricao">
													<option th:each="inscricao : ${inscricoes}"
														th:value="${inscricao.id}"
														th:text="${inscricao.aluno.pessoa.nome}"></option>
												</select> <label>Aluno</label>
											</div>
											<div class="input-field col s3">
												<button type="submit" class="waves-effect waves-light btn">Adicionar</button>
											</div>
										</div>
									</form>
									<div class="row">
										<div class="chip deep-purple lighten-1"
											th:each="inscricao : ${agendamento.inscricoes}">
											<div class="text-17 light white-text"
												th:text="${inscricao.aluno.pessoa.nome}"></div>
											<a title="Excluir"
												th:href="@{/selecao/agendamentoEntrevista/__${agendamento.id}__/excluir/__${inscricao.id}__}"
												sec:authorize="hasAuthority('COORDENADOR')"> <i
												class="close white-text material-icons">close</i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
		      </div>
		    </li>
		  </ul>
		</div>
	</div>
		
</section>

</body>
</html>