<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base/base"
	th:with="currentPage='selecao'">

<head>
	<title>Auxílio - Detalhes da Seleção</title>
	<link rel="stylesheet" th:href="@{/css/selecao/detalhes.css}"/>
</head>

<section layout:fragment="conteudo">
	<div class="row">
		<!-- Informações da seleção -->
		<div class="col s6">
			<div th:replace="selecao/detalhes/selecao :: selecao" ></div>
		</div>
		<!-- Arquivos -->
		<div class="col s6">
			<div th:replace="selecao/detalhes/arquivos :: arquivos"></div>
		</div>
	</div>
	<div class="row">
		<!-- Comissão -->
		<div class="col s6">
			<div th:replace="selecao/detalhes/comissao :: comissao"></div>
		</div>
		<!-- Documentação -->
		<div class="col s6">
			<div th:replace="selecao/detalhes/documentacao :: documentacao"></div>
		</div>
	</div>
	<div class="row">
		<!-- Inscrições -->
		<div class="col s12">
			<div th:replace="selecao/detalhes/inscricoes :: inscricoes"></div>
		</div>
	</div>
	<!--end container-->
</section>

<section layout:fragment="js">
	
</section>

</html>