
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="base/base-listar"
    th:with="
    		currentPage = 'documentacao', 
    		
    		list = ${documentos},
    		emptyListMessage = 'Nenhum tipo de documento cadastrado!',
    		
    		addEnabled = true, 
    		addTip = 'Adicionar um tipo de documento', 
    		addLink = '#',
    		addAutorize = 'COORDENADOR', 
    		
    		breadcrumbName = 'Tipo de Documento', 
    		filterEnabled = true, 
    		filterName = 'Buscar tipos de documento'" >
										
<table 
	layout:fragment="table"
	data-sort-col="0" data-sort-direction="desc">
	
   <thead>
       <tr>
			<th class="">Nome</th>
			
           <!-- CABEÇALHO DE OPÇÕES -->
           <th th:replace="base/base-listar-options :: table-options-header"></th>
       </tr>
   </thead>				 
   <tbody>
   		
       <tr th:each="documento:${list}"
       		th:with="
       			
	    		removeEnabled = true, 
	    		removeTip = 'Remover', 
	    		removeLink = @{/documentacao/tipo-documento/excluir/__${documento.id}__},
	    		removeClass = 'confirm',  
	    		removeConfirmText = 'Deseja remover este tipo de documento?'
	    		
       		">
			
			<td class="limit" data-max-length="20" th:text="${documento.nome}"></td>
			
			<!-- OPÇÕES (EDITAR, REMOVER E VER MAIS) -->
			<td th:replace="base/base-listar-options :: table-options-cell"></td>
       	</tr>					        
	</tbody>
	
</table>

<section layout:fragment="js">
	
	<script type="text/javascript" th:src="@{/js/auxilio/documentacao/listar.js}"></script>
	
</section>

</html>
