<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="base/base-listar"
    th:with="
    		currentPage = 'selecao', 
    		
    		list = ${selecoes},
    		emptyListMessage = 'Nenhuma seleção cadastrada!',
    		
    		addEnabled = true, 
    		addTip = 'Adicionar uma selecao', 
    		addLink = @{/selecao/cadastrar/},
    		
    		breadcrumbName = 'Seleção', 
    		filterEnabled = true, 
    		filterName = 'Buscar seleções'" >

<head>
    <title>Seleções</title>
</head>

<table 
	layout:fragment="table"
	data-sort-col="0,1" data-sort-direction="desc,asc">
	
   <thead>
       <tr>
			<th class="hide-on-med-and-down">Ano</th>
			<th class="hide-on-med-and-down">Inscrições</th>
			<th>Vagas</th>
			<th>Responsável</th>
           
           <!-- CABEÇALHO DE OPÇÕES -->
           <th th:replace="base/base-listar-options :: table-options-header"></th>
       </tr>
   </thead>				 
   <tbody>
       <tr th:each="selecao:${list}"
       		th:with="
       			editEnabled = true, 
	    		editTip = 'Editar', 
	    		editLink = @{/selecao/editar/__${selecao.id}__},
	    		
	    		seeMoreEnabled = true, 
	    		seeMoreTip = 'Detalhes', 
	    		seeMoreLink = @{/selecao/detalhes/__${selecao.id}__}, 
	    		
	    		removeEnabled = true, 
	    		removeTip = 'Remover', 
	    		removeLink = @{/selecao/excluir/__${selecao.id}__},
	    		removeClass = 'confirm'
	    		
       		">
			<td class="hide-on-med-and-down" th:text="${{selecao.ano}}"></td>
			<td class="hide-on-med-and-down" th:text="${{selecao.inscricoes}}"></td>
			<td th:text="${{selecao.quantidadeVagas}}"></td>
			<td th:text="${{selecao.responsavel.pessoa.nome}}"></td>
           <!-- OPÇÕES (EDITAR, REMOVER E VER MAIS) -->
           <td th:replace="base/base-listar-options :: table-options-cell"></td>
       </tr>					        
   </tbody>
</table>

</html>
