<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="base/base"
	th:with="breadcrumbName = ${ { {name:'Visualizar Inscrições', link: '/selecao/inscricoes/__${selecao.id}__', sec:'COORDENADOR'}, {name:'Resultado Final', link: '#', sec:'COORDENADOR'} } }">

<head>
	<title> Resultado Final</title>
</head>

<section layout:fragment="conteudo">
	<div class="row">
		<div class="card" th:fragment="inscricoes">
			<div class="card-content details">
				<h5 class="title light">Selecao</h5>
				<div class="row no-margin">
					<div class="col s4">
						<span th:text="${selecao.tipo.nome}" class="text-20 light bold"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="card">
			<div class="card-content">
				<div class="col s12">
					<ul class="tabs">
						<li class="tab col s6"><a href="#alunos-deferidos">DEFERIDOS</a></li>
					 	<li class="tab col s6"><a href="#alunos-indeferidos">INDEFERIDOS</a></li>
					 </ul>
				 </div>

				<!-- Inscrições Deferidas-->
				<div id="alunos-deferidos">
					<!-- Nenhuma inscrição realizada -->
					<span class="blue-grey-text" th:if="${#lists.isEmpty(deferidos)}">Nenhum Aluno selecionado</span>
					
					<div class="row" th:unless="${#lists.isEmpty(deferidos)}">
						<div class="col s12">
							<div class="fixed-action-btn">
								<a class="btn-floating btn-large deep-purple lighteen 1">
									<i class="large material-icons">menu</i>
								</a>
								<ul id="float_relatorio">
								</ul>
							</div>
						</div>
						<table id="inscricoes" class="striped bordered" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>Aluno</th>
									<th>Curso</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="inscricao : ${deferidos}">
									<td><a th:text="${inscricao.aluno.pessoa.nome}" th:href="@{/inscricao/detalhes/__${inscricao.id}__}"></a></td>
									<td th:text="${inscricao.aluno.curso}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
				<!-- Inscrições InDeferidas-->
				<div id="alunos-indeferidos" >
					<!-- Nenhuma inscrição realizada -->
					<span class="blue-grey-text" th:if="${#lists.isEmpty(indeferidos)}">Nenhum Aluno indeferido</span>
							
					<div class="row" th:unless="${#lists.isEmpty(indeferidos)}">
						<div class="col s12">
							<div class="fixed-action-btn">
								<a class="btn-floating btn-large deep-purple lighteen 1">
									<i class="large material-icons">menu</i>
								</a>
								<ul id="float_relatorio_indeferidos">
								</ul>
							</div>
						</div>
						<table id="inscricoes-indeferidas" class="striped bordered" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>Aluno</th>
									<th>Curso</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="inscricao : ${indeferidos}">
									<td><a th:text="${inscricao.aluno.pessoa.nome}" th:href="@{/inscricao/detalhes/__${inscricao.id}__}"></a></td>
									<td th:text="${inscricao.aluno.curso}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section layout:fragment="js">
	<script type="text/javascript" th:src="@{https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js}"></script>
	<script type="text/javascript" th:src="@{https://cdn.datatables.net/buttons/1.2.4/js/buttons.flash.min.js}"></script>
	<script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js}"></script>
	<script type="text/javascript" th:src="@{https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/pdfmake.min.js}"></script>
	<script type="text/javascript" th:src="@{https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/vfs_fonts.js}"></script>
	<script type="text/javascript" th:src="@{https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js}"></script>
	<script type="text/javascript" th:src="@{https://cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js}"></script>
</section>

</html>