<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base/base"
	th:with="currentPage='selecao'">

<head>
	<title>Auxílio - Visita Domiciliar</title>
</head>

<section layout:fragment="conteudo">
	<div class="row">
		<div class="col s12">
			<form  th:method="post">
				<div class="card">
					<div class="card-content">
						<div class="nav-wrapper">
					      <div class="col s12">
					        <a class="breadcrumb">First</a>
					        <a class="breadcrumb">Second</a>
					        <a class="breadcrumb">Third</a>
					      </div>
					    </div>
						<h5 class="title light">Visita Domiciliar</h5>
						<div class="row">
							<div class="col s12 input-field">
								<textarea id="relatorioVisita" th:text="${relatorioVisita}" name="relatorioVisita" class="materialize-textarea"></textarea>
								<label for="relatorioVisita">Relatório Geral Visita Domiciliar</label>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-content">
						<h5 class="title light">Envie Arquivos Auxiliares</h5>
						<label for="tipoDocumento">Tipo de Documento</label>
						<select name="tipoDocumento">
	          				<option ></option>
	          			</select>
	          		
	          			<div class="col-xs-5">
	          				<input type="file" name="files" multiple="multiple" />
	          			</div>
	          		</div>
	            </div>
	            <div class="card">
	            	<div class="card-content">
	            	<h5 class="title light">Parecer da Visita</h5>
	            		<div class="row">
							<div class="col s12 input-field">
								<textarea id="parecerVisita" th:text="${parecerVisita}" name="parecerVisita" class="materialize-textarea"></textarea>
								<label for="parecerVisita">Observações da Visita Domiciliar</label>
							</div>
						</div>
	            		<button class="btn waves-effect waves-light" >Deferido</button>
	            		<button class="btn waves-effect waves-light" >Indeferido</button>
	            	</div>
	            </div>
	            <div class="card-action right-align">
					<button class="btn waves-effect waves-light" type="submit">Finalizar</button>
				</div>
			</form>
		</div>
	</div>
</section>

<section layout:fragment="js">
	
</section>

<section layout:fragment="js">
    	<script th:src="@{/js/auxilio/selecao/selecao.js}"></script>
</section>

</html>