<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="base/base"
	th:with="breadcrumbName = ${ { {name:'Visualizar Inscrições', link: '/selecao/inscricoes/__${selecao.id}__', sec:'COORDENADOR'} } }">

<head>
	<title>Auxílio - Visualizar Inscrições</title>
</head>

<section layout:fragment="conteudo">
	<div class="row">
		<div class="col s12">
			<div class="card" th:fragment="inscricoes">
				<div class="card-content details">
					<h5 class="title light">Inscrições</h5>
					<div class="row no-margin">
						<div class="col s4">
							<span>Seleção:</span>
							<span th:text="${selecao.tipo.nome}" class="text-20 light bold"></span>
						</div>

						<div class="col s2">
							<span>Ano:</span>
							<span th:text="${selecao.ano}" class="text-20 light bold"></span>
						</div>

						<div class="col s2">
							<span>Início:</span>
							<span th:text="${#temporals.format(selecao.dataInicio, 'dd/MM/yyyy')}" class="text-20 light bold"></span>
						</div>

						<div class="col s2">
							<span>Término:</span>
							<span th:text="${#temporals.format(selecao.dataTermino, 'dd/MM/yyyy')}" class="text-20 light bold"></span>
						</div>

						<div class="col s2">
							<span>Vagas:</span>
							<span th:text="${selecao.quantidadeVagas} ? ${selecao.quantidadeVagas} : 'a definir'" class="text-20 light bold"></span>
						</div>
					</div>

					<!-- Nenhuma inscrição realizada -->
					<span class="blue-grey-text" th:if="${#lists.isEmpty(selecao.inscricoes)}">Nenhuma inscrição realizada</span>


					<!-- Inscrições -->
					<div class="row" th:unless="${#lists.isEmpty(selecao.inscricoes)}">
						<div class="fixed-action-btn">
							<a class="btn-floating btn-large deep-purple lighteen 1">
								<i class="large material-icons">menu</i>
							</a>
							<ul>
								<li>
									<a th:href="@{/inscricao/resultadoSelecao/__${selecao.id}__}" class="btn-floating deep-purple lighten-1 tooltipped" data-position="left" data-delay="50" data-tooltip="Lista de Selecionados">
										<i class="material-icons">list</i>
									</a>
								</li>
								<li>
									<a th:href="@{/selecao/inscricoes/relatorio/__${selecao.id}__}" class="btn-floating deep-purple lighten-1 tooltipped" data-position="left" data-delay="50" data-tooltip="Relatório Geral">
										<i class="material-icons">insert_chart</i>
									</a>
								</li>
								<li>
									<a class="btn-floating deep-purple lighten-1"><i class="material-icons">format_quote</i></a>
								</li>
							</ul>
						</div>
						<div class="col s12">
							<table id="visualizar-inscricoes" class="centered display nowrap striped bordered lighten-1">
								<thead>
								<tr>
									<th>Aluno</th>
									<th>Análise dos Documentos</th>
									<th>Entrevista</th>
									<th th:if="${selecao.tipo.nome} == 'Auxílio Moradia'">Visita Domiciliar</th>
									<th>Parecer Final</th>
									<th>Ranking</th>
									<th>Selecionados</th>
								</tr>
								</thead>
								<tbody>
								<tr th:each="inscricao, row : ${inscricoes}">
									<td><a th:text="${inscricao.aluno.pessoa.nome}" th:href="@{/inscricao/detalhes/__${inscricao.id}__}"></a></td>
									<td>
										<a th:if="${inscricao.analiseDocumentacao != null and inscricao.analiseDocumentacao.resultado != null}" th:href="@{/documentacao/inscricao/__${inscricao.id}__}">
											<div th:unless="${inscricao.analiseDocumentacao.resultado.nome}" class="chip grey lighten-1">
												Não Avaliado
											</div>
											<div th:if="${inscricao.analiseDocumentacao.resultado.nome eq T(br.ufc.npi.auxilio.enums.Resultado).NAO_AVALIADO.nome}" class="chip grey lighten-1">
												Não Avaliado
											</div>
											<div th:if="${inscricao.analiseDocumentacao.resultado.nome eq T(br.ufc.npi.auxilio.enums.Resultado).DEFERIDO.nome}" class="chip green lighten-1">
												Deferido
											</div>
											<div th:if="${inscricao.analiseDocumentacao.resultado.nome eq T(br.ufc.npi.auxilio.enums.Resultado).INDEFERIDO.nome}" class="chip red lighten-1">
												Indeferido
											</div>
										</a>
										<a th:unless="${inscricao.analiseDocumentacao != null and inscricao.analiseDocumentacao.resultado != null}" th:href="@{/documentacao/inscricao/__${inscricao.id}__}">
											<div class="chip grey lighten-1">
												Não Avaliado
											</div>
										</a>
									</td>
									<td>
										<a th:if="${inscricao.entrevista != null and inscricao.entrevista.resultado != null}" th:href="@{/entrevista/__${inscricao.id}__}">
											<div th:if="${inscricao.entrevista.resultado.nome==null}" class="chip grey lighten-1">
												Não Avaliado
											</div>
											<div th:if="${inscricao.entrevista.resultado.nome eq T(br.ufc.npi.auxilio.enums.Resultado).NAO_AVALIADO.nome}" class="chip grey lighten-1">
												Não Avaliado
											</div>
											<div th:if="${inscricao.entrevista.resultado.nome eq T(br.ufc.npi.auxilio.enums.Resultado).DEFERIDO.nome}" class="chip green lighten-1">
												Deferido
											</div>
											<div th:if="${inscricao.entrevista.resultado.nome eq T(br.ufc.npi.auxilio.enums.Resultado).INDEFERIDO.nome}" class="chip red lighten-1">
												Indeferido
											</div>
										</a>
										<a th:unless="${inscricao.entrevista != null and inscricao.entrevista.resultado != null}" th:href="@{/entrevista/__${inscricao.id}__}">
											<div class="chip grey lighten-1">
												Não Avaliado
											</div>
										</a>
									</td>
									<td th:if="${selecao.tipo.nome} == 'Auxílio Moradia'">
										<a th:if="${inscricao.visitaDomiciliar != null and inscricao.visitaDomiciliar.parecer != null}" th:href="@{/visita/__${inscricao.id}__}">
											<div th:if="${inscricao.visitaDomiciliar.resultado.nome eq T(br.ufc.npi.auxilio.enums.Resultado).NAO_AVALIADO.nome}" class="chip grey lighten-1">
												Não Avaliado
											</div>
											<div th:if="${inscricao.visitaDomiciliar.resultado.nome eq T(br.ufc.npi.auxilio.enums.Resultado).DEFERIDO.nome }" class="chip green lighten-1">
												Deferido
											</div>
											<div th:if="${inscricao.visitaDomiciliar.resultado.nome eq T(br.ufc.npi.auxilio.enums.Resultado).INDEFERIDO.nome}" class="chip red lighten-1">
												Indeferido
											</div>
										</a>
										<a th:unless="${inscricao.visitaDomiciliar != null and inscricao.visitaDomiciliar.parecer != null}" th:href="@{/visita/__${inscricao.id}__}">
											<div class="chip grey lighten-1">
												Não Avaliado
											</div>
										</a>
									</td>
									<td th:unless="${inscricao.resultado}">
										<a href="#">
										<div class="chip grey lighten-1">
											Não Avaliado
										</div>
										</a>
									</td>
									<td th:if="${inscricao.resultado}">
										<a href="#">
										<div th:unless="${inscricao.resultado.nome}" class="chip grey lighten-1">
											Não Avaliado
										</div>
										<div th:if="${inscricao.resultado.nome eq T(br.ufc.npi.auxilio.enums.Resultado).NAO_AVALIADO.nome}" class="chip grey lighten-1">
											Não Avaliado
										</div>
										<div th:if="${inscricao.resultado.nome eq T(br.ufc.npi.auxilio.enums.Resultado).DEFERIDO.nome }" class="chip green lighten-1">
											Deferido
										</div>
										<div th:if="${inscricao.resultado.nome eq T(br.ufc.npi.auxilio.enums.Resultado).INDEFERIDO.nome}" class="chip red lighten-1">
											Indeferido
										</div>
										</a>
									</td>
									<td th:text="${row.count}"></td>
									<td>
										<div class="switch">
											<label>
												<input type="checkbox" class="selecionar" th:id="${inscricao.id}" th:checked="${inscricao.selecionado}" /> 
												<span class="lever"></span>
											</label>
										</div>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section layout:fragment="js">
	<script type="text/java" th:src="@{https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/auxilio/inscricao/selecionar_inscricao.js}"></script>
	<script type="text/java" th:src="@{https://cdn.datatables.net/buttons/1.2.4/js/buttons.flash.min.js}"></script>
	<script type="text/java" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js}"></script>
	<script type="text/java" th:src="@{https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/pdfmake.min.js}"></script>
	<script type="text/java" th:src="@{https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/vfs_fonts.js}"></script>
	<script type="text/java" th:src="@{https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js}"></script>
	<script type="text/java" th:src="@{https://cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js}"></script>
</section>

</html>
