<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base/base">
<head>
    <meta charset="UTF-8"/>
    <title>Enviar Documentação</title>
</head>
<body>
	<!-- Page Content -->
	<section layout:fragment="conteudo">
    <!-- Content Header (Page header) -->
       	<div class="card">
       			<div class="card-content">
					<h5 class="title light" th:text="'Análise de Documentação: '+${inscricao.selecao.tipo.nome} +' '+${inscricao.selecao.ano}"></h5>
					<h5 class="title light" th:text="${inscricao.aluno.pessoa.nome}"></h5>
					<table>
					<thead>
						<tr>
							<th>Nome</th>
							<th>Descrição</th>
							<th>Download</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="tipoDocumento:${inscricao.selecao.tiposDeDocumento}">
							<td th:text="${tipoDocumento.nome}"></td>
							<td th:text="${tipoDocumento.descricao}"></td>
							<td>
								<div th:if="${inscricao.analiseDocumentacao != null}">
									<div th:each="documentacao : ${inscricao.analiseDocumentacao.documentacao}">
										<ul th:if="${documentacao.tipoDocumento.nome == tipoDocumento.nome}">
											<li class="chip" th:each="documento : ${documentacao.documentos}">
			       								<a th:href="@{/selecao/documento/__${inscricao.selecao.id}__/download/__${documento.id}__}" class="secondary-content">
			       									<span class="text" th:text="${documento.nome}"></span>
			       								 </a>
			       							</li>
										</ul>
									</div>
								</div>
							</td>
						</tr>
					</tbody>					
					</table>					
				</div>
       		</div>
        	<form data-model="analiseDocumentacao" th:action="@{/}" th:object="${inscricao.analiseDocumentacao}" th:method="post" enctype="multipart/form-data">
        		<div class="card">
        			<div class="card-content">
						<h5 class="title light">Parecer</h5>
						<div class="col s4 input-field">
							<select th:field="*{resultado}">
								<option th:each="tipoResultado : ${resultado}" th:value="${tipoResultado}" th:text="${tipoResultado}"></option>
							</select>
							<label for="parecer">Resultado</label>
						</div>
						<div class="col s8 input-field">
							<textarea class="materialize-textarea" id="observacao" th:field="*{observacoes}"></textarea>
							<label for="observacao">Observação</label>
						</div>
					</div>
        		</div>
        		<div class="card-action right-align">
						<button class="btn waves-effect waves-light" type="submit" th:text="'Salvar'"></button>
				</div>
			</form>
    </section>
	
	<section layout:fragment="js">
    	<script th:src="@{/js/auxilio/selecao/selecao.js}"></script>
    </section>
	
</body>
</html>