<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base/base"
	  th:with="currentPage='selecao'">
<head>
	<meta charset="UTF-8"/>
	<title>Inscrição</title>
</head>
<section layout:fragment="conteudo">
	<div class="row">
	
		<div class="col s12 breadcrumbs valign-wrapper">
            <a th:href="@{/}" class="breadcrumb blue-grey-text">
                <i class="material-icons left">home</i>
            </a>
            <a th:href="@{/inscricao/__${inscricao.selecao.id}__}" class="breadcrumb blue-grey-text">Inscrição</a>
			<a class="breadcrumb blue-grey-text">Informações Complementares</a>
            
        </div>
        <div class="col s12">
			<div class="row">
				<form  class="card" th:action="@{/inscricao/__${inscricao.id}__/dados-bancarios}" th:method="post" th:object="${aluno}">
					<div class="card-content">
						<div class="row">
							<div class="offset-l2 col l8 ">
								<div class="input-field">
									<label for="nome-banco">IRA atual</label>
									<input id="nome-banco" th:field="*{ira}" type="text" class="text"/>	
								</div>
							</div>
						</div>
						<div class="divider"></div>
						<div class="row">
							<div class="offset-l2 col l8 ">
								<div class="input-field">
									<label for="nome-banco">Fotografia Atual</label>
									<input id="nome-banco" type="text"/>	
								</div>
							</div>
						</div>
						<div class="divider"></div>
						<div class="row">
							<div class="offset-l2 col l8 ">
								<div class="input-field">
									<label for="nome-banco">Banco</label>
									<input id="nome-banco" th:field="*{dadosBancarios.nomeBanco}" type="text"/>	
								</div>
							</div>
						</div>
						<div class="row">
							<div class="offset-l2 col l8 ">
								<div class="input-field">
									<label for="agencia-banco">Agencia</label>
									<input id="agencia-banco" th:field="*{dadosBancarios.agenciaBanco}" type="text"/>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="offset-l2 col l8 ">
								<div class="input-field">
									<label for="numero-conta">Conta</label>
									<input id="numero-conta" th:field="*{dadosBancarios.numeroConta}" type="text"/>
								</div>
							</div>
						</div>
						
						
						
					</div>
					
					<div class="card-action right-align">
						<button class="btn waves-effect waves-light" type="submit" name="action"> Continuar
							<i class="material-icons right">send</i>
						</button>
					</div>		
				</form>
			</div>
		</div>
	</div>
</section>
</html>