<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="base/base">

<head>
	<title>Auxílio - Realizar Inscrição</title>
</head>

<section layout:fragment="conteudo">
	<div class="row">
		<div class="col s12">
			<form th:action="@{/inscricao/__${selecao.id}__}" th:object="${identificacao}" th:method="post">
				<div class="card">
					<div class="card-content">
						<h5 class="title light">Identificação (Passo 1/5)</h5>
						<div class="row">
							<div class="col s4">
								<span>Nome Completo:</span>
								<span class="text-20 truncate" th:text="${aluno.pessoa.nome} ? ${aluno.pessoa.nome} : '-'"></span>
							</div>
							<div class="col s4">
								<span>CPF:</span>
								<span class="text-20 truncate" th:text="${aluno.pessoa.cpf} ? ${aluno.pessoa.cpf} : '-'"></span>
							</div>
							<div class="col s2">
								<span>Data de Nascimento:</span>
								<span class="text-20 truncate" th:text="${aluno.pessoa.dataNascimento} ? ${#temporals.format(aluno.pessoa.dataNascimento,'dd/MM/yyyy')} : '-'"></span>
							</div>
							<div class="col s2">
								<span>Sexo:</span>
								<span class="text-20 truncate" th:text="${aluno.pessoa.sexo} ? ${aluno.pessoa.sexo} : '-'"></span>
							</div>
						</div>
						<div class="row">
							<div class="col s4">
								<span>Email:</span>
								<span class="text-20 truncate" th:text="${aluno.pessoa.email} ? ${aluno.pessoa.email} : '-'"></span>
							</div>
							<div class="col s4">
								<span>Curso:</span>
								<span class="text-20 truncate" th:text="${aluno.curso} ? ${aluno.curso} : '-'"></span>
							</div>
							<div class="col s2">
								<span>Matrícula:</span>
								<span class="text-20 truncate" th:text="${aluno.matricula} ? ${aluno.matricula} : '-'"></span>
							</div>
							<div class="col s2">
								<span>Ano Ingresso:</span>
								<span class="text-20 truncate" th:text="${aluno.anoIngresso} ? ${aluno.anoIngresso} : '-'"></span>
							</div>
						</div>
						<div class="row">
							<div class="col s3 input-field">
								<input th:field="*{identidade}" type="text" id="identidade" required="required"/>
								<label for="identidade">* Identidade</label>
							</div>
							<div class="col s3 input-field">
								<input th:field="*{orgaoEmissor}" type="text" id="orgaoEmissor" required="required"/>
								<label for="orgaoEmissor">* Órgão emissor</label>
							</div>
							<div class="col s3 input-field">
								<select id="ufIdentidade" th:field="*{ufIdentidade}">
									<option th:each="estado : ${estados}" th:value="${estado}" th:text="${estado}"></option>
								</select>
								<label for="ufIdentidade">* UF</label>
							</div>
							<div class="col s3 input-field">
								<input th:field="*{ira}" type="text" id="ira" required="required"/>
								<label for="ira">* IRA atual</label>
							</div>
						</div>
						<div class="row">
							<div class="col s3 input-field">
								<input th:field="*{naturalidade}" type="text" id="naturalidade" required="required"/>
								<label for="naturalidade">* Naturalidade</label>
							</div>
							<div class="col s3 input-field">
								<select id="ufNaturalidade" th:field="*{ufNaturalidade}">
									<option th:each="estado : ${estados}" th:value="${estado}" th:text="${estado}"></option>
								</select>
								<label for="ufNaturalidade">* UF naturalidade</label>
							</div>
							<div class="col s3 input-field">
								<select id="estadoCivil" th:field="*{estadoCivil}">
									<option th:each="estado : ${estadosCivis}" th:value="${estado}" th:text="${estado.nome}"></option>
								</select>
								<label for="estadoCivil">* Estado civil</label>
							</div>
							<div class="col s3 input-field">
								<input th:field="*{contato}" type="text" id="contato" required="required"/>
								<label for="contato">* Contato</label>
							</div>
						</div>
						<div class="row">
							<span>Confira os seus dados. Se houver algum erro corrija-os <a href="http://cadastroaluno.intranet">aqui</a>.</span>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-content">
						<h5 class="title light">Dados Bancários</h5>
						<div class="row">
							<div class="col s4 input-field">
								<input th:field="*{banco}" type="text" id="banco"/>
								<label for="banco">Banco</label>
							</div>
							<div class="col s4 input-field">
								<input th:field="*{agencia}" type="text" id="agencia"/>
								<label for="agencia">Agência</label>
							</div>
							<div class="col s4 input-field">
								<input th:field="*{contaCorrente}" type="text" id="contaCorrente"/>
								<label for="contaCorrente">Conta corrente</label>
							</div>
						</div>
					</div>
					<div class="card-action right-align">
						<button class="btn waves-effect waves-light" type="submit"
								th:text="${identificacao.naturalidade} ? 'Avançar' : 'Realizar Inscrição'"></button>
					</div>
				</div>
			</form>
		</div>
   </div>
</section>
</html>