<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="base/base">

<head>
<title>Auxílio - Realizar Entrevista</title>
</head>

<section layout:fragment="conteudo">

	<div class="col s12" th:with="menu_entrevista = true">
		<div class="row">
			<div th:replace="base/base-menu-inscricao :: menu-inscricao"></div>
    	</div>
    	<div class="col s12" sec:authorize="hasAuthority('ALUNO')">
	        <a th:if="${inscricao.resultado}" href="#!" class="breadcrumb deep-purple-text text-lighten-1">
	        	Resultado Final: <span th:if="${inscricao.resultado.nome} == 'deferido'" class="chip green-text" th:text="'Deferido'"></span>
	        	<span th:if="${inscricao.resultado.nome} == 'indeferido'" class="chip red-text" th:text="'Indeferido'"></span>
	        </a>
	    </div>
	</div>
	<div class="row">
		<div class="col s12">
			<div class="card">
				<div class="card-content details">
					<h5 class="title light">Identificação</h5>
					<div class="row no-margin">
						<div class="col s4">
							<span th:text="${inscricao.aluno.pessoa.nome}" class="text-18 bold"></span>
						</div>
					</div>
				</div>
			</div>
			<form id="formentrevista" th:object="${entrevista}" th:action="@{/entrevista/__${inscricao.id}__}" th:method="post">
				<div class="card">
				 <div class="card-content">
						<h5 class="title light">Identificação</h5>
						<div class="row">
							<div class="col s3">
								<span>Nome:</span> <span class="text-20 truncate"
									th:text="${inscricao.aluno.pessoa.nome} ? ${inscricao.aluno.pessoa.nome} : '-'"></span>
							</div>

							<div class="col s2 input-field">
								<input type="text" class="datepicker" id="data-entrevista" th:field="*{data}" required="required" /> 
								<label for="data-entrevista">* Data da Entrevista</label>
							</div>

							<div class="col s4 input-field">
								<input type="text" th:field="*{endereco}" class="text-20 truncate" id="endereco" />
								<label for="endereco">Endereço</label>
							</div>

							<div class="col s2 input-field">
								<input type="tel" th:field="*{contato}" id="contato" /> 
								<label for="contato">Contato</label>
							</div>
						</div>
					</div>
					
				</div>
				
				<div class="card">
					<div class="card-content">
						<h5 class="title light">Dados Gerais I</h5>
						<div class="row">
							<div class="col s4 input-field">
								<select id="renovacaoAuxilio" th:field="*{renovacao}" onchange='mostraCampo(this)'>
									<option value="false">NÃO</option>
									<option value="true">SIM</option>
								</select> 
								<label for="renovacaoAuxilio">* Renovação de solicitação de auxílio/bolsa?</label>
							</div>
							
							<div class="col s4 input-field">
								<input type="text" th:field="*{cursoSemestre}" class="filled-in" id="curso-semestre" /> <label
									for="curso-semestre">Curso/semestre</label>
							</div>
							<div class="col s4 input-field">
								<select th:field="*{concluiuOutra}" id="concluiu-outra-graduacao">
									<option value="false">NÃO</option>
									<option value="true">SIM</option>
								</select> <label for="concluiu-outra-graduacao">* Concluiu outra
									graduação?</label>
							</div>
						</div>
						<div class="row">
							<div class="col s12 input-field" id="AproveitamentoSatisfatorio" style="display:none">
								<select id="aproveitamentoSatisfatorio" th:field="*{aproveitamento}" >
									<option value="false">NÃO</option>
									<option value="true">SIM</option>
								</select> 
								<label for="aproveitamentoSatisfatorio">Possui aproveitamento positivo de no mínimo 50% das disciplinas matriculadas no semestre anterior e matriculado em no mínimo 12 créditos, salvo se a grade curricular do curso não permitir?</label>
							</div>
						</div>

						<div class="row">

							<div class="col s4 input-field">
								<select id="moraQuixada" th:field="*{moraEmQuixada}" onchange='mostraCampoSelect(this)'>
									<option value="false">NÃO</option>
									<option value="true">SIM</option>
								</select> <label for="moraQuixada">* Está morando em Quixadá?</label>
							</div>
							
							<div class="col s4 input-field" id="cQuem" style="display:none">
								<input type="text" th:field="*{comQuem}" id="comquem" /> <label for="comquem">*
									Com quem?</label>
							</div>

							<div class="col s4 input-field">
								<select id="ParenteEmQuixada" th:field="*{temParente}">
									<option value="false">NÃO</option>
									<option value="true">SIM</option>
								</select> <label for="ParenteEmQuixada">* Tem parente em Quixadá?</label>
							</div>

							

						</div>

						<div class="row">

							<div class="col s4 input-field">
								<select id="aluguel-Info" th:field="*{divideHabitacional}" onchange="mostraCampoDiv(this)">
									<option value="false">NÃO</option>
									<option value="true">SIM</option>
								</select> <label for="aluguel-Info">Está dividindo unidade
									habitacional?</label>
							</div>
						
							<div id="LinhaAdd" style="display:none">

								<div class="col s4 input-field">
									<input type="number" min="0" id="valorAluguel" th:field="*{valorAluguel}" /> <label
										for="valorAluguel">* Qual o valor do Aluguel?</label>
	
								</div>
	
								<div class="col s4 input-field">
									<input min="0" type="number" id="n_pessoasMoradia" th:field="*{qtColegas}"
										required="required" /> <label for="n_pessoasMoradia">Com
										quantos colegas você compartilha a moradia? </label>
								</div>
	
							</div>						
						
						</div>

						<div class="row">
							<div class="col s4 input-field">
								<select id="prov-grupo-familiar" th:field="*{provedor}">
									<option value="false">NÃO</option>
									<option value="true">SIM</option>
								</select> <label for="prov-grupo-familiar">* Estudante provedor
									financeiro do grupo familiar?</label>
							</div>
							<div class="col s4 input-field">
								<select id="mae-chefe-familia" th:field="*{maeChefe}">
									<option value="false">NÃO</option>
									<option value="true">SIM</option>
								</select> 
								<label
									for="mae-chefe-familia">Mãe chefe de família?</label>
							</div>
							<div class="col s4 input-field">
								<select id="estudante-com-filhos" th:field="*{temFilhos}">
									<option value="false">NÃO</option>
									<option value="true">SIM</option>
								</select> <label for="estudante-com-filhos">* Estudante com
									filhos?</label>
							</div>
						</div>
						<div class="row">
							<div class="col s4 input-field">
								<select id="estudante-prov-familia" th:field="*{provedorComDespesas}">
									<option value="false">NÃO</option>
									<option value="true">SIM</option>
								</select> <label class="label-auxilio" for="estudante-prov-familia">* Provedor da
									família com despesas com pensões alimentícias que minem a
									renda?</label>
							</div>
							<div class="col s4 input-field">
								<input min="0" type="number" id="quantidadeIdosos" th:field="*{qtIdosos}"
									required="required" /> <label for="quantidadeIdosos">Quantidade
									de idosos no grupo familiar</label>
							</div>
							<div class="col s4 input-field">
								<input min="0" type="number" id="quantidadeCriancas" th:field="*{qtCriancas}"
									required="required" /> <label for="quantidadeCriancas">Quantidade
									de crianças/adolescentes grupo familiar</label>
							</div>
						</div>
					</div>
					
				</div>
				<div class="card">
					<div class="card-content">
						<h5 class="title light">Dados Gerais II</h5>
						<div class="row">
							<div class="col s6 input-field">
								<select id="AlguemUsaMedicamento" th:field="*{medicamento}" onchange='mostraCampoaQualMedicamento(this)'>
									<option value="false">NÃO</option>
									<option value="true">SIM</option>
								</select>
								<label for="AlguemUsaMedicamento">Você ou algum membro da família faz uso contínuo de medicamentos?</label>

							</div>
							<div class="col s6 input-field" id="QualMedicamento" style="display:none">
								<input type="text" id="medicamentoAluno" th:field="*{qualMedicacento}"/>
								 <label for="medicamentoAluno">Qual?</label>

							</div>


						</div>

						<div class="row">
							<div class="col s6 input-field">
								<select id="apresentaDef" th:field="*{deficienteFisico}" onchange='mostraCampoaQualDeficiencia(this)'>
									<option value="false">NÃO</option>
									<option value="true">SIM</option>
								</select> <label for="apresentaDef">* Você apresenta alguma
									deficiência?</label>

							</div>
							<div class="col s6 input-field" id="QualDeficienciaAluno" style="display:none">
								<input type="text" id="doencaAluno" th:field="*{qualDeficiencia}" />
								 <label for="doencaAluno">Qual?</label>

							</div>
							
							
						</div>



						<div class="row">

							<div class="col s6 input-field">
								<select id="algumComDoenca" th:field="*{apresentaDoencaGrave}" onchange='mostraCampoMembroC_DoencaGrave(this)'>
									<option value="false">NÃO</option>
									<option value="true">SIM</option>
								</select> <label for="algumComDoenca">* Há algum membro do grupo
									familiar com doença grave?</label>

							</div>	
							
							<div class="col s6 input-field" id="QueMembroPossuiDoenca" style="display:none">
								<input type="text" th:field="*{quemDoencaGrave}" id="membro_comdoencaGrave"/>
								 <label for="membro_comdoencaGrave">Quem?</label>

							</div>
							
							
						</div>

						<div class="row">

							<div class="col s6 input-field">

								<select id="Assist_medica" th:field="*{possuiPlanoMedico}" >
									<option value="false">NÃO</option>
									<option value="true">SIM</option>
								</select> <label for="Assist_medica">A família possui plano
									de assistência médica?</label>
							</div>
							<div class="col s6 input-field">
									<select id="GastosComMedicamentos" th:field="*{gastosComMedicamento}">
										<option value="false">NÃO</option>
										<option value="true">SIM</option>
									</select> <label for="GastosComMedicamentos">Há gastos constantes
										com medicamentos na família?</label>
							</div>
						</div>

						<div class="row">
							<div class="col s6 input-field">

								<select id="AlguemComDeficien" th:field="*{apresentaDeficiencia}" onchange='mostraCampoMembroQualMembroC_deficiencia(this)'>
									<option value="false">NÃO</option>
									<option value="true">SIM</option>
								</select> <label for="AlguemComDeficien">* Há algum membro do
									grupo familiar com deficiência?</label>
							</div>	
								<div class="col s6 input-field" id="QualMembroC_Deficiencia" style="display:none">
								<input type="text" id="membro_comDeficiencia" th:field="*{quemDeficiencia}"/>
								 <label for="membro_comDeficiencia">Quem?</label>

							</div>

						</div>

						<div class="row">
							<div class="col s12 input-field">
								<input type="text" id="PartProgrSociais" th:field="*{participacaoEmProgramas}" /> <label
									for="PartProgrSociais">Participação em programas do
									governo federal (Bolsa Família, BPC, Cadastro Único, minha casa
									minha vida, tarifa social de energia elétrica)? Qual?</label>
							</div>
						</div>
						<div class="row">
							<div class="col s12 input-field">
								<input th:field="*{atendidoCRAS}" type="text" id="FamiliaJaAtendidaSaude" /> <label
									for="FamiliaJaAtendidaSaude">Família já foi atendida
									pelo CRAS/CREAS/CAPS/PSF/NASF/CENTRO DE REFERÊNCIA DA MULHER de
									seu município?</label>
							</div>
						</div>
						<div class="row">
							<div class="col s6 input-field">
								<input th:field="*{dinamicaFamiliar}" type="text" id="dinamicaFamiliar" /> <label
									for="dinamicaFamiliar">Como é sua dinâmica familiar?</label>
							</div>
							<div class="col s6 input-field">
								<input th:field="*{relacoesAbitoAcademico}" type="text" id="relacoesAcademicas" /> <label
									for="relacoesAcademicas">Como são suas relações no
									âmbito acadêmica?</label>
							</div>
						</div>
					</div>
					
				</div>
				<div class="card">
					<div class="card-content">
						<h5 class="title light">Dados Gerais III</h5>
						<div class="row">
							<div class="col s12 input-field">
								<select th:field="*{modalidade}">
									<option th:each="tipoModalidade : ${modalidade}" th:value="${tipoModalidade}" th:text="${tipoModalidade + ' - ' + tipoModalidade.nome}"></option>
								</select>
								<label for="parecer">Modalidade de Cotas</label>
							</div>
						</div>
						<div class="row">
							<div class="col s4 input-field">
								<select id="egressoEscolaParticular" th:field="*{egressoPublicaSemCotas}">
									<option value="false">NÃO</option>
									<option value="true">SIM</option>
								</select> <label for="egressoEscolaPublica">*Egresso de escola
									pública no ensino médio sem entrada por cotas? </label>
							</div>
							<div class="col s4 input-field">
								<select id="egressoEscolaPublica" th:field="*{egressoParticularIntegral}">
									<option value="false">NÃO</option>
									<option value="true">SIM</option>
								</select> <label for="egressoEscolaParticular">*Egresso no ensino
									particular com bolsa integral no ensino médio? </label>
							</div>
							<div class="col s4 input-field">
								<select id="egressoEscolaPartilarParcial" th:field="*{egressoParticularParcial}">
									<option value="false">NÃO</option>
									<option value="true">SIM</option>
								</select> <label for="egressoEscolaPartilarParcial">*Egresso do
									ensino particular com bolsa parcial no ensino médio? </label>
							</div>
						</div>
						<div class="row">
							<div class="col s12 input-field">
								<select th:field="*{participouSelecao}">
									<option th:each="tipoParticipouSelecao : ${participouSelecao}" th:value="${tipoParticipouSelecao}" th:text="${tipoParticipouSelecao.nome}"></option>
								</select>
								<label for="parecer">Participou de editais da seleção do Auxílio Moradia, Bolsa de Iniciação Acadêmica, Auxílio creche ou Auxílio emergencial?</label>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-content">
						<h5 class="title light">Bolsa de Iniciação Acadêmica</h5>
						<div class="row">
							<div class="col s12 input-field">
								<input type="text" th:field="*{principaisInteresses}" id="BIA-interesses" /> <label
									for="BIA-interesses">Quais são seus principais
									interesses na sua área de estudo?</label>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-content">
						<h5 class="title light">Em caso de ter sido bolsista BIA:</h5>
						<div class="row">
							<div class="col s12 input-field">
								<select th:field="*{gostavaTrabalhoBIA}" id="gostavaDoTrabalhoDesenvolvido">
									<option value="false">NÃO</option>
									<option value="true">SIM</option>
								</select> <label for="gostavaDoTrabalhoDesenvolvido">* Você
									gostava do trabalho que desenvolvia junto ao seu orientador de
									BIA?</label>
							</div>
						</div>
						<div class="row">
							<div class="col s12 input-field">
								<select th:field="*{interesseMesmoTrabalho}" id="InteresseEmContinuarDesenv-trabalho"
									onchange='mostraCampoBIA(this)'>
									<option value="false">NÃO</option>
									<option value="true">SIM</option>
								</select> <label for="InteresseEmContinuarDesenv-trabalho">*Você
									tem interesse de permanecer desenvolvendo o mesmo trabalho? </label>
							</div>
						</div>
						<div class="row">
							<div class="col s12 input-field" id="divHabilidadesDesenvolvidas"
								style="display:none">
								<input type="text" id="habilidadesDesenvolvidas" th:field="*{habilidadesDesenvolvidas}" /> 
								<label for="divHabilidadesDesenvolvidas">* Quais os aspectos e habilidades você desenvolveu e quais poderão ser aprimorados com a continuação neste projeto?</label>
							</div>
							<div class="col s12 input-field"
								id="divHabilidadesDesenvolvidas1" style="display:none">
								<input type="text" id="MotivoMudarProjeto" th:field="*{motivoProjeto}" /> 
								<label for="MotivoMudarProjeto">* O que te faz querer mudar de projeto?</label>

							</div>
						</div>
						<div class="row">
							<div class="col s12 input-field">
								<input type="text" th:field="*{representaBIA}" /> <label>O que representa a BIA pra
									você? Qual a importância dela pra sua vida (acadêmica, pessoal,
									profissional, etc)</label>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
        			<div class="card-content">
						<h5 class="title light">Parecer</h5>
						<div class="row">
						<div class="col s12 input-field">
							<select th:field="*{parecer}">
								<option th:each="tipoResultado : ${resultado}" th:value="${tipoResultado}" th:text="${tipoResultado}"></option>
							</select>
							<label for="parecer">Resultado</label>
						</div>
						</div>
						<div class="row">
						<div class="col s12 input-field">
							<textarea class="materialize-textarea" id="observacao" th:field="*{observacao}"></textarea>
							<label for="observacao">Observação</label>
						</div>
						</div>
					</div>
					<div class="card-action right-align">
						<button class="btn waves-effect waves-light" type="submit">Avançar</button>
					</div>
        		</div>
        		
			</form>
		</div>
	</div>
	
	

</section>
	<section layout:fragment="js">
	<script th:src="@{/js/auxilio/entrevista/entrevista.js}"></script>
	
	</section>



</html>