<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base/base"
      th:with="breadcrumbName = ${ { {name:'Enviar Documentos', link: '#', sec:'ALUNO'} } }">
<head>
    <meta charset="UTF-8"/>
    <title>Enviar Documentação</title>
</head>

<section layout:fragment="conteudo">
	<div class="row">
		<div class="col s12">
			<form class="card" role="form" th:action="@{/documentacao/__${inscricao.id}__}" method="post" enctype="multipart/form-data">
				
				<div class="card-content">
					<h5 class="title light">Enviar Documentos</h5>
				
					<div class="row">
						<div class="col l4 m6 s12">
							<label for="tipo-doc">Escolha o tipo de documento</label>
							<select id="tipo-doc" name="tipoDocumento">
								<option th:each="tipo : ${inscricao.selecao.tiposDeDocumento}"
									th:text="${tipo.nome}" th:value="${tipo.id}"></option>
							</select>
						</div>
						<div class="col l8 m6 s12">
							<label for="tipo-doc">Selecione os arquivos</label>
							<div class="file-field input-field">
							
								<div class="btn right-align">
									<span>Arquivos</span> <input type="file" name="files" multiple="multiple"/>
								</div>
								<div class="file-path-wrapper">
									<input class="file-path validate" type="text"/>
								</div>
							</div>
						</div>
						<div th:if="${inscricao.analiseDocumentacao != null}">
						<div class="col s4" th:each="documentacao : ${inscricao.analiseDocumentacao.documentacao}">
							<ul class="collapsible" data-collapsible="accordion" >
								<li>
									<div class="collapsible-header" data-collapsible="expandable">
										<span th:text="${documentacao.tipoDocumento.nome}"></span>
									</div>
									<div class="collapsible-body">
										<ul class="collection with-header">
       								 		<li class="collection-item" th:each="documento : ${documentacao.documentos}">
       								 		<div>
       								 			<span class="text" th:text="${documento.nome}"></span> 
       								 			<a th:href="@{/documentacao/inscricao/__${inscricao.id}__/documentacao/__${documentacao.id}__/excluir-documento/__${documento.id}__}" 
       								 				class="secondary-content"> <i class="material-icons">delete</i>
       								 			</a>
       								 		</div>
       								 		</li>
										</ul>
									</div>
								</li>
							</ul>
						</div>
						</div>
						<!-- <div th:if="${inscricao.analiseDocumentacao != null}">
							<div class="col s12"
								th:each="documentacao : ${inscricao.analiseDocumentacao.documentacao}">
								<div class="col s12">
									<span class="text" th:text="${documentacao.tipoDocumento.nome}"></span>
									<ul class="todo-list">
										<li th:each="documento : ${documentacao.documentos}"><span
											class="text" th:text="${documento.nome}"></span> <a
											th:href="@{/documentacao/inscricao/__${inscricao.id}__/documentacao/__${documentacao.id}__/excluir-documento/__${documento.id}__}"
											class="tools"><i class="fa fa-trash-o"></i></a></li>
									</ul>
								</div>
							</div>
						</div> -->
		
					</div>
				</div>
				<div class="card-action right-align">
					<button type="submit" class="btn btn-primary pull-right">Cadastrar</button>
					<a th:href="@{/selecao}" class="btn btn-default pull-right">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
</section>


<section layout:fragment="js">
	<script th:src="@{/js/auxilio/selecao/selecao.js}"></script>
</section>

</html>