<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base/base">
<head>
	<title>Auxílio - Realizar Inscrição</title>
</head>

<section layout:fragment="conteudo">
	<div class="row">
		<div class="col s12">
			<form  th:action="@{/inscricao/historico/__${selecao.id}__}" th:method="post" th:object="${historico}">
				<div class="card">
					<div class="card-content">
						<h5 class="title light">Histórico Escolar (Passo 3/5)</h5>
						<div class="row">
							<div class="col s4 input-field">
								<select id="ensinoMedio" th:field="*{ensinoMedio}">
									<option th:each="ensino : ${opcoesEnsinoMedio}" th:value="${ensino}" th:text="${ensino.nome}"></option>
								</select>
								<label for="ensinoMedio">* Ensino médio</label>
							</div>
							<div id="div-particular" th:class="${historico.ensinoMedio != null and historico.ensinoMedio.name() != 'PUBLICO'} ? '' : 'no-display'">
								<div class="col s4 input-field">
									<select id="bolsistaEnsinoMedio" th:field="*{bolsistaEnsinoMedio}">
										<option th:value="${false}">NÃO</option>
										<option th:value="${true}">SIM</option>
									</select>
									<label for="bolsistaEnsinoMedio" >* Bolsista?</label>
								</div>
							</div>
							<div id="div-percentual" th:class="${historico.bolsistaEnsinoMedio} ? '' : 'no-display'">
								<div class="col s4 input-field">
									<input th:field="*{percentualEnsinoMedio}" min="1" max="100" type="number" id="percentualEnsinoMedio" th:required="${historico.bolsistaEnsinoMedio}" />
									<label for="percentualEnsinoMedio">* Percentual da bolsa (%)</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col s4 input-field">
								<select id="participacaoAuxilio">
									<option value="false">NÃO</option>
									<option th:selected="${historico.quantidadeParticipacaoAuxilio != null}" value="true">SIM</option>
								</select>
								<label for="participacaoAuxilio">* Já participou de seleção para o Programa Auxílio Moradia?</label>
							</div>
							<div id="div-quantidade-participacao" th:class="${historico.quantidadeParticipacaoAuxilio != null} ? '' : 'no-display'">
								<div class="col s4 input-field">
									<input min="1" th:field="*{quantidadeParticipacaoAuxilio}" type="number" id="quantidadeParticipacaoAuxilio" th:required="${historico.quantidadeParticipacaoAuxilio != null}"/>
									<label for="quantidadeParticipacaoAuxilio">* Quantas vezes?</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col s4 input-field">
								<select id="bolsistaAtual">
									<option value="false">NÃO</option>
									<option th:selected="${historico.bolsaAtual != null and historico.bolsaAtual != ''}" value="true">SIM</option>
								</select>
								<label for="bolsistaAtual">* Atualmente é bolsista?</label>
							</div>
							<div id="div-bolsa-atual" th:class="${historico.bolsaAtual != null and historico.bolsaAtual != ''} ? '' : 'no-display'">
								<div class="col s4 input-field">
									<input th:field="*{bolsaAtual}" type="text" id="bolsaAtual"
										   th:required="${historico.bolsaAtual != null and historico.bolsaAtual != ''}"/>
									<label for="bolsaAtual">* Qual bolsa?</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col s4 input-field">
								<select id="graduacao">
									<option value="false">NÃO</option>
									<option th:selected="${historico.outraGraduacao != null and historico.outraGraduacao != ''}" value="true">SIM</option>
								</select>
								<label for="graduacao">* Já concluiu alguma graduação?</label>
							</div>
							<div id="div-outra-graduacao" th:class="${historico.outraGraduacao != null and historico.outraGraduacao != ''} ? '' : 'no-display'">
								<div class="col s8 input-field">
									<input th:field="*{outraGraduacao}" type="text" id="outraGraduacao"
										   th:required="${historico.outraGraduacao != null and historico.outraGraduacao != ''}"/>
									<label for="outraGraduacao">* Informar curso, instituição e período</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col s4 input-field">
								<input id="valorMensalTransporte" th:field="*{valorMensalTransporte}" min="0" type="number" required="required"/>
								<label for="valorMensalTransporte">* Valor mensal gasto com transporte</label>
							</div>
							<div class="col s4 input-field">
								<input id="distancia" th:field="*{distancia}" type="number" min="0" required="required"/>
								<label for="distancia">* Distância até a UFC (KM)</label>
							</div>
							<div class="col s4 input-field">
								<input id="tempoGasto" th:field="*{tempoGasto}" type="number" min="0" required="required"/>
								<label for="tempoGasto">* Tempo gasto com deslocamento (horas)</label>
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<h6>Como faz o trajeto até a universidade diariamente?</h6>
							</div>
							<div class="col s12 input-field">
								<p th:each="trajeto : ${opcoesTrajetos}" class="checkbox-inline">
									<input th:checked="${#lists.contains(historico.trajetos, trajeto)}" th:value="${trajeto}" type="checkbox" class="filled-in" th:id="__${trajeto}__-trajeto" name="trajetos"/>
									<label th:for="__${trajeto}__-trajeto" th:text="${trajeto.nome}"></label>
								</p>
							</div>
						</div>
						<div id="div-outro-trajeto" th:class="${#lists.contains(historico.trajetos, T(br.ufc.npi.auxilio.enums.Trajeto).OUTROS)} ? 'row' : 'row no-display'">
							<div class="col s6 input-field">
								<input th:field="*{outroTrajeto}" type="text" id="outroTrajeto" th:required="${#lists.contains(historico.trajetos, T(br.ufc.npi.auxilio.enums.Trajeto).OUTROS)}" />
								<label for="outroTrajeto">* Especifique</label>
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<h6>Quais serviços você já utilizou?</h6>
							</div>
							<div class="col s12 input-field">
								<p th:each="servico : ${opcoesServicos}" class="checkbox-inline">
									<input th:checked="${#lists.contains(historico.servicos, servico)}" th:value="${servico}" type="checkbox" class="filled-in" th:id="__${servico}__-servico" name="servicos"/>
									<label th:for="__${servico}__-servico" th:text="${servico.nome}"></label>
								</p>
							</div>
						</div>
						<div id="div-outro-servico" th:class="${#lists.contains(historico.servicos, T(br.ufc.npi.auxilio.enums.ServicosProReitoria).OUTROS)} ? 'row' : 'row no-display'">
							<div class="col s6 input-field">
								<input th:field="*{outroServico}" type="text" id="outroServico" th:required="${#lists.contains(historico.servicos, T(br.ufc.npi.auxilio.enums.ServicosProReitoria).OUTROS)}"/>
								<label for="outroServico">* Especifique</label>
							</div>
						</div>
					</div>
					<div class="card-action right-align">
						<button class="btn waves-effect waves-light" type="submit">Avançar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
<section layout:fragment="js">
	<script th:src="@{/js/auxilio/inscricao/inscricao.js}"></script>
</section>
</html>