<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base/base">

<head>
	<title>Auxílio - Realizar Inscrição</title>
</head>

<section layout:fragment="conteudo">
	<div class="row">
		<div class="col s12">
			<form th:action="@{/inscricao/moradia/__${selecao.id}__}" th:object="${moradia}" th:method="post">
				<div class="card">
					<div class="card-content">
						<!-- Moradia de origem -->
						<h5 class="title light">Núcleo familiar da moradia de origem (Passo 2/5)</h5>
						<div class="row">
							<div class="col s6 input-field">
								<input th:field="*{mae}" type="text" id="mae" required="required"/>
								<label for="mae">* Nome da mãe</label>
							</div>
							<div class="col s6 input-field">
								<input th:field="*{pai}" type="text" id="pai" required="required"/>
								<label for="pai">* Nome do pai</label>
							</div>
						</div>
						<div class="row">
							<div class="col s12">
								<h6>Morava ou mora com:</h6>
							</div>
							<div class="col s12 input-field">
								<p th:each="morador : ${opcoesMoradoresOrigem}" class="checkbox-inline">
									<input th:checked="${#lists.contains(moradia.moradoresOrigem, morador)}" th:value="${morador}" type="checkbox" class="filled-in" th:id="'__${morador}__-origem'" name="moradoresOrigem"/>
									<label th:for="'__${morador}__-origem'" th:text="${morador.nome}"></label>
								</p>
							</div>
						</div>
						<div id="div-outroMoradorOrigem" th:class="${#lists.contains(moradia.moradoresOrigem, T(br.ufc.npi.auxilio.enums.MoradoresOrigem).OUTROS)} ? 'row' : 'row no-display'">
							<div class="col s6 input-field">
								<input th:field="*{outroMoradorOrigem}" type="text" id="outroMoradorOrigem" th:required="${#lists.contains(moradia.moradoresOrigem, T(br.ufc.npi.auxilio.enums.MoradoresOrigem).OUTROS)}"/>
								<label for="outroMoradorOrigem">* Especifique</label>
							</div>
						</div>
					</div>
				</div>

				<!-- Endereço da moradia de origem -->
				<div class="card">
					<div class="card-content">
						<h5 class="title light">Endereço da moradia de origem</h5>
						<div class="row">
							<div class="col s6 input-field">
								<input th:field="*{enderecoOrigem}" type="text" id="enderecoOrigem" required="required"/>
								<label for="enderecoOrigem">* Endereço</label>
							</div>
							<div class="col s2 input-field">
								<input th:field="*{numeroOrigem}" type="text" id="numeroOrigem" required="required"/>
								<label for="numeroOrigem">* Número</label>
							</div>
							<div class="col s4 input-field">
								<input th:field="*{bairroOrigem}" type="text" id="bairroOrigem" required="required"/>
								<label for="bairroOrigem">* Bairro</label>
							</div>
						</div>
						<div class="row">
							<div class="col s2 input-field">
								<select id="estadoOrigem" th:field="*{estadoOrigem}">
									<option th:each="estado : ${estados}" th:value="${estado}" th:text="${estado.nome}"></option>
								</select>
								<label for="estadoOrigem">* Estado</label>
							</div>
							<div class="col s4 input-field">
								<input th:field="*{cidadeOrigem}" type="text" id="cidadeOrigem" required="required"/>
								<label for="cidadeOrigem">* Cidade</label>
							</div>
							<div class="col s2 input-field">
								<input th:field="*{cepOrigem}" type="text" id="cepOrigem" required="required"/>
								<label for="cepOrigem">* CEP</label>
							</div>
							<div class="col s4 input-field">
								<input th:field="*{referenciaOrigem}" type="text" id="referenciaOrigem"/>
								<label for="referenciaOrigem">Ponto de referência</label>
							</div>
						</div>
						<div class="row">
							<div class="col s4 input-field">
								<select id="situacaoImovel" th:field="*{situacaoImovel}">
									<option th:each="situacao : ${imoveis}" th:value="${situacao}" th:text="${situacao.nome}"></option>
								</select>
								<label for="situacaoImovel">* Situação do imóvel</label>
							</div>
							<div id="div-financiamento" th:class="${moradia.situacaoImovel != null and moradia.situacaoImovel.name() eq 'FINANCIADO'} ? '' : 'no-display'">
								<div class=" col s4 input-field">
									<input th:field="*{financiamento}" type="text" id="financiamento" th:required="${moradia.situacaoImovel != null and moradia.situacaoImovel.name() eq 'FINANCIADO'}"/>
									<label for="financiamento">* Valor mensal do financiamento</label>
								</div>
							</div>
							<div class="col s4 input-field">
								<input th:field="*{quantidadeBemMovel}" min="0" type="number" id="quantidadeBemMovel" required="required"/>
								<label for="quantidadeBemMovel">* Quantidade de bens móveis (veículo(s))</label>
							</div>
						</div>
						<div id="div-descricao-bem-movel" th:class="${moradia.quantidadeBemMovel != null and moradia.quantidadeBemMovel > 0} ? 'row' : 'row no-display'">
							<div class="col s12 input-field">
								<input th:field="*{descricaoBemMovel}" type="text" id="descricaoBemMovel" th:required="${moradia.quantidadeBemMovel != null and moradia.quantidadeBemMovel > 0}"/>
								<label for="descricaoBemMovel">* Descrição dos bens móveis (marca/ano do(s) veículo(s))</label>
							</div>
						</div>
					</div>
				</div>

				<!-- Moradia atual -->
				<div class="card">
					<div class="card-content">
						<h5 class="title light">Endereço da moradia atual</h5>
						<div class="row">
							<div class="col s12">
								<h6>Mora em/com:</h6>
							</div>
							<div class="col s12 input-field">
								<p th:each="morador : ${opcoesMoradores}" class="checkbox-inline">
									<input th:checked="${#lists.contains(moradia.moradores, morador)}" th:value="${morador}" type="checkbox" class="filled-in" th:id="${morador}" name="moradores"/>
									<label th:for="${morador}" th:text="${morador.nome}"></label>
								</p>
							</div>
						</div>
						<div id="div-outroMorador" th:class="${#lists.contains(moradia.moradores, T(br.ufc.npi.auxilio.enums.Moradores).OUTROS)} ? 'row' : 'row no-display'">
							<div class="col s6 input-field">
								<input th:field="*{outroMorador}" type="text" id="outroMorador" th:required="${#lists.contains(moradia.moradores, T(br.ufc.npi.auxilio.enums.Moradores).OUTROS)}"/>
								<label for="outroMorador">* Especifique</label>
							</div>
						</div>
						<div class="row">
							<div class="col s12 subtitle">
								<h6>Endereço da moradia atual:</h6>
							</div>
							<div class="col s6 input-field">
								<input th:field="*{endereco}" type="text" id="endereco" required="required"/>
								<label for="endereco">* Endereço</label>
							</div>
							<div class="col s2 input-field">
								<input th:field="*{numero}" type="text" id="numero" required="required"/>
								<label for="numero">* Número</label>
							</div>
							<div class="col s4 input-field">
								<input th:field="*{bairro}" type="text" id="bairro" required="required"/>
								<label for="bairro">* Bairro</label>
							</div>
						</div>
						<div class="row">
							<div class="col s2 input-field">
								<select id="estado" th:field="*{estado}">
									<option th:each="estado : ${estados}" th:value="${estado}" th:text="${estado.nome}"></option>
								</select>
								<label for="estado">* Estado</label>
							</div>
							<div class="col s4 input-field">
								<input th:field="*{cidade}" type="text" id="cidade" required="required"/>
								<label for="cidade">* Cidade</label>
							</div>
							<div class="col s2 input-field">
								<input th:field="*{cep}" type="text" id="cep" required="required"/>
								<label for="cep">* CEP</label>
							</div>
							<div class="col s4 input-field">
								<input th:field="*{referencia}" type="text" id="referencia"/>
								<label for="referencia">Ponto de referência</label>
							</div>
						</div>
					</div>
					<div class="card-action right-align">
						<input class="btn waves-effect waves-light" type="submit" value="Avançar"/>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
<section layout:fragment="js">
	<script th:src="@{/js/auxilio/inscricao/inscricao.js}"></script>
</section>
	
</html>