<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base/base"
      th:with="currentPage='inscricao'">

	<div layout:fragment="conteudo">
	
		<div class="row">
			<div class="col s12 breadcrumbs valign-wrapper">
	            <a th:href="@{/}" class="breadcrumb blue-grey-text">
	                <i class="material-icons left">home</i>
	            </a>
	            <a class="breadcrumb blue-grey-text">Inscricao</a>
	            <a class="breadcrumb blue-grey-text">Moradia</a>
	        </div>
	
			<div class="col s12">
			 	<div class="card">
			 		
			 		<form class="card-content form-moradia"
				 		th:action="@{/inscricao/__${inscricao.id}__/questionario}" 
				 		th:object="${questionarioAuxilioMoradia}" 
				 		th:method="post">
			 			<div class="row">
			 				<div class="col s12">
			 					<span class="bold ">Mora com:</span>
			 				</div>
			 				
			 				<div class="col l4 m6 s12" th:each="morador, index : ${moraCom}">
								<input th:id="'morador-' + ${index.index}" class="mora-com" type="checkbox" th:name="moradores" th:value="${morador.nome}"/>			
								<label th:for="'morador-' + ${index.index}" th:text="${morador.nome}"></label>
							</div>
							
							<div class="col s12 input-field" data-show-if="#morador-5">
								<label for="outro-morador">Outro morador</label>
								<input id="outro-morador" type="text" th:filed="*{outroMorador}"/><br/>
							</div>
							
							<div class="col s12 input-field">
								<label for="nome-mae">Nome da Mãe</label>
								<input id="nome-mae" type="text" th:filed="*{nomeMae}"/><br/>
							</div>
						</div>
					</form>
					
					<form th:object="${propriedadeRural}" class="form-propriedade-rural card-action" method="post" th:attr="data-id-inscricao=${inscricao.id}">
						
						<div class="row">
							<span class="col s12 bold">Propriedades Rurais</span>
							
							<div class="col l6 m6 s12 input-field">
								<select id="parentesco" th:field="*{parentescoProprietario}" >
									<option th:each="tipo : ${moraCom}"
											th:value="${tipo}"
											th:text="${tipo.nome}">
									</option>
								</select>
								<label>Grau de parentesco do proprietario</label>
							</div>
								
							<div class="col l6 m6 s12 input-field">
								<label for="area">Area</label>
								<input id="area" type="text" th:field="*{area}"/>
							</div>
							
							<div class="col l6 m6 s12 input-field">
								<label for="cidade">Cidade</label>
								<input id="cidade" type="text" th:field="*{cidade}"/>
							</div>
							
							<div class="col l6 m6 s12 input-field">
								<label for="estado">Estado</label>
								<input id="estado" type="text" th:field="*{estado}"/>
							</div>
							
							<div class="col s12 input-field">
								<label for="outroParentesco">Outro parentesco</label>
								<input id="outroParentesco" type="text" th:field="*{outroParentesco}"/>
							</div>
							
							<div class="col s12 grey lighten-3 padding-24 relative z-depth-1-2">
								<button type="submit" class="self-sampled btn-floating btn-large top-right waves-effect waves-light">
									<i class="material-icons">add</i>
								</button>
								<span class="bold deep-purple-text">Preencha o formulário acima e clique em + para adicionar uma propriedade</span>
								
								<table id="table-propriedade" class="datatable table-hover table-lite table-card" 
									data-filter="#table-filter">
									<thead>
										<tr>
											<th>Parentesco com o proprietário</th>
											<th>Outro parentesco</th>
											<th>Area (hm²)</th>
											<th>Cidade</th>
											<th>Estado</th>
										</tr>
									</thead>
									<tbody class="propriedade-container">
										<tr class="propriedade-reference">
											<td class="parentesco"></td>
											<td class="outroParentesco"></td>
											<td class="area"></td>
											<td class="cidade"></td>
											<td class="estado"></td>
										</tr>
									</tbody>
								</table>
							</div>
						
						</div>
						
					</form>
					
					<div class="card-action right-align">
						<input class="btn waves-effect waves-light" type="submit" value="Continuar"/>
					</div>
					
				</div> 	
			</div>
		</div>
	</div>
	<section layout:fragment="js">
    	<script th:src="@{/js/auxilio/inscricao/inscricao.js}"></script>
    </section>
	
</html>