<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base/base">
<head>
    <meta charset="UTF-8"/>
<title>Inscrição</title>
</head>
<body>
	<div class="container" layout:fragment="conteudo">
		<form th:action="@{/inscricao/__${inscricao.id}__/questionario}" th:object="${questionarioAuxilioMoradia}" th:method="post">
			<label>Mora com</label>
			<input type="checkbox" th:field="*{moradores}" th:each=" morador : ${moraCom}" th:value="${morador}" th:text="${morador.nome}"/>
			
			<label for="nome-mae">Nome da Mãe</label>
			<input id="nome-mae" th:field="*{nomeMae}" type="text"/><br/>
			
			<input type="submit" value="Continuar"/>
		</form>
	</div>

</body>
</html>